@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>云绣网-买家中心</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/public1.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/buyer1.css">
</head>
<body>

    <div id="topbar">
        <div class="container">
            <div class="col-xs-6 row">
                <span class="fl">欢迎您,</span><!--<a>[登录]</a>&nbsp;<a>[注册]</a>-->
                <ul class="fl topl">
                    <li class="talk">
                        消息<i style="background:url(/images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                        <dl class="sub-menu">
                            <dd><a>待处理订单</a></dd>
                            <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                            <dd><a>通知</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        我的云绣
                        <div class="sub-menu bg-white" style="z-index:9999; width:200px;border:1px solid #ddd;border-top:0;">
                            <dl class="fl">
                                <dt><a>我是买家</a></dt>
                                <dd><a>发布采购</a></dd>
                                <dd><a>发布招标</a></dd>
                                <dd><a>我的优惠券</a></dd>
                                <dd><a>我的采购单</a></dd>
                                <dd><a>我的留言</a></dd>
                            </dl>
                            <dl class="fl">
                                <dt><a>我是卖家</a></dt>
                                <dd><a>管理旺铺</a></dd>
                                <dd><a>已卖出的商品</a></dd>
                                <dd><a>管理供应商品</a></dd>
                                <dd><a>我的商机</a></dd>
                            </dl>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="topbarr row">
                <ul>
                    <!--<li class="talk">
                       消息<i style="background:url(/images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                       <dl class="sub-menu">
                          <dd><a>待处理订单</a></dd>
                          <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                          <dd><a>通知</a></dd>
                       </dl>
                    </li>-->
                    <li class="menu">
                        我的收藏
                        <dl class="sub-menu">
                            <dd><a>收藏的商品</a></dd>
                            <dd><a>收藏的供应商</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        云绣服务
                        <dl class="sub-menu">
                            <dd><a>标王服务</a></dd>
                            <dd><a>黄金展位</a></dd>
                            <dd><a>会员服务</a></dd>
                            <dd><a>商贸通</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        诚信商家
                        <dl class="sub-menu">
                            <dd><a>商家权益</a></dd>
                            <dd><a>招商标准</a></dd>
                            <dd><a>收费标准</a></dd>
                            <dd><a>入驻开店</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        客服中心
                        <dl class="sub-menu">
                            <dd><a>买家帮助</a></dd>
                            <dd><a>卖家帮助</a></dd>
                            <dd><a>在线咨询</a></dd>
                            <dd><a>常见问答</a></dd>
                            <dd><a>二维码</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        网站导航
                        <dl class="sub-menu">
                            <dd><a>云绣ERP</a></dd>
                            <dd><a>娴婷一账通</a></dd>
                            <dd><a>云绣网</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="header clearfix">
        <div class="container">
            <ul class="header-item header-l">
                <li>
                    <a href=""><img src="/images/logo.png"></a>
                </li>
                <li><p>买家中心</p></li>
                <li style="margin-left:15px;"><img src="/images/slogan1.png" alt="刺绣行业一站式采购" /></li>
            </ul>
        </div>
    </div>

    <div class="buyer-banner">
        <div class="buyer-banner-center">
            <a class="buyer-banner-btn" href="">
                <img src="/images/freevip.png">
            </a>
        </div>
    </div>

    <div class="pri-service">
        <div class="pri-top clearfix">
            <div class="pri-text">
                <h1 class="pri-title"><img src="/images/prititle.png"></h1>
                <p class="pri-introduce">云绣采购通是专为企业设计的在线采购平台，帮助企业采购到优质的供应产品，全面满足“紧急采购”、“常规采购”、“地缘性采购”、“大额采购”多层次的采购需求，为买卖双方提供最优质的合作交流平台！</p>
            </div>
            <div class="pri-pic">
                <img src="/images/buyservice.png">
            </div>
        </div>



        <div class="pri-list clearfix">
            <div class="pri-item">
                <div class="pri-item-pic">
                    <img src="/images/seritem1.png">
                </div>
                <p>一站式服务</p>
                <div class="pri-item-detail">
                    <h4>一站式服务</h4>
                    <p>全面满足"紧急采购"、"常规采购"、 "大额采购"、"地缘性采购"多层次的采购需求，为采购商增加采购渠道，降低采购成本，提高采购质量!</p>
                </div>
            </div>
            <div class="pri-item">
                <div class="pri-item-pic">
                    <img src="/images/seritem2.png">
                </div>
                <p>权威认证服务</p>
                <div class="pri-item-detail">
                    <h4>权威认证服务</h4>
                    <p>企业身份通过第三方独立权威机构确认，并享有企业公信力勋章，成为卖家首选，优先获得更多比价机会，享受更多的商家服务！</p>
                </div>
            </div>
            <div class="pri-item">
                <div class="pri-item-pic">
                    <img src="/images/seritem3.png">
                </div>
                <p>专属顾问服务</p>
                <div class="pri-item-detail">
                    <h4>专属顾问服务</h4>
                    <p>专属行业买家经理，全程为买家提供专业、细致的服务，从而促进企业贸易撮合，为企业之间搭建可靠的交易平台！</p>
                </div>
            </div>
            <div class="pri-item">
                <div class="pri-item-pic">
                    <img src="/images/seritem4.png">
                </div>
                <p>线下活动服务</p>
                <div class="pri-item-detail">
                    <h4>线下活动服务</h4>
                    <p>通过线下面对面洽谈的方式，为采购商提供颇俱个性化特色的增值服务，使贸易过程更顺利、更高效、成本更低！</p>
                </div>
            </div>
        </div>

    </div>


    <div class="rule-list container">
        <div class="col-md-3 col-sm-3 col-xs-3 rule-menu">
            <p class="rule-menu-title">服务流程规则</p>
            <div class="search-bar">
                <span>关键词：</span>
                <input></input>
                <button type="button" class="btn btn-default btn-ser">搜索</button>
            </div>
            <p class="Collapsing  current">账户管理规则</p>
            <div class="coll_body">
                <a href="#">注册流程</a>
                <a href="#">收货管理</a>
                <a href="#">会员介绍</a>
                <a href="#">账户信息维护</a>
                <a href="#">增值服务说明</a>
                <a href="#">什么是买家账户</a>
                <a href="#">账户资金处理流程</a>
                <a href="#">会员等级优惠说明</a>
            </div>
            <p class="Collapsing">购物帮助规则</p>
            <div class="coll_body">
                <a href="#">购物流程</a>
                <a href="#">如何购买下单</a>
                <a href="#">如何查找想要的商品</a>
                <a href="#">如何拨打客服热线订购商品</a>
                <a href="#">如何填写收货地址</a>
                <a href="#">防诈骗提醒</a>
                <a href="#">如何使用“货比三家”</a>
                <a href="#">如何使用“采购通”</a>
            </div>
            <p class="Collapsing">异常情况处理规则</p>
            <div class="coll_body">
                <a href="#">发货与签收规则</a>
                <a href="#">邮费收取规则</a>
                <a href="#">支付流程及支付方式</a>
                <a href="#">发票问题</a>
                <a href="#">支付异常情况处理</a>
            </div>
            <p class="Collapsing">客服中心</p>
            <div class="coll_body">
                <a href="#">浏览器cookie功能如何开启</a>
                <a href="#">购物车常见问题和购物技巧</a>
                <a href="#">防诈骗提醒</a>
                <a href="#">售后政策</a>
                <a href="#">退换货流程</a>
                <a href="#">售后退款说明</a>
                <a href="#">上门服务类说明</a>
            </div>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-9">
            <div class="agreement">
                <div class="agreement-content"></div>
            </div>
        </div>
    </div>


    <div class="footbot">
        <div class="container">
            <ul>
                <li class="col-md-2"><a href="#"><img src="/images/footicon1.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon2.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon3.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon4.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon5.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon6.png" /></a></li>
            </ul>
        </div>
    </div>

    <div style="width:100%;">
        <div class="footsec container clear">
            <ul class="f-tip">
                <li class="f-title">新手入门</li>
                <li><a href="###">购物流程</a></li>
                <li><a href="###">注册流程</a></li>
                <li><a href="###">发票制度</a></li>
                <li><a href="###">会员优惠</a></li>
            </ul>

            <ul class="f-tip">
                <li class="f-title">购物服务</li>
                <li><a href="###">如何购买下单</a></li>
                <li><a href="###">发货与签收规则</a></li>
                <li><a href="###">如何使用“货比三家”</a></li>
                <li><a href="###">如何使用“采购通”</a></li>
            </ul>

            <ul class="f-tip">
                <li class="f-title">客服中心</li>
                <li><a href="###">售后政策</a></li>
                <li><a href="###">退换货流程</a></li>
                <li><a href="###">售后退款说明</a></li>
                <li><a href="###">防诈骗提醒</a></li>
            </ul>

            <ul class="f-tip">
                <li class="f-title">常见问题</li>
                <li><a href="/CommonProblem/Index">采购指南</a></li>
                <li><a href="###">订单咨询</a></li>
                <li><a href="###">纠纷处理</a></li>
                <li><a href="###">交易常见问题</a></li>
            </ul>

            <ul class="f-tip">
                <li class="f-title">&nbsp;</li>
                <li><a href="###"><img style="width:100px;height:100px;" src="/images/tipflex_258.jpg" /></a></li>
            </ul>
        </div>
    </div>

    <div class="footer container">
        <p style="clear:both;"><a href="###">关于云绣网</a> | <a href="###">会员服务</a> | <a href="###">商家入驻</a> | <a href="###">广告服务</a> | <a href="###">网站导航</a> | <a href="###">诚聘英才</a> | <a href="###">意见投诉</a> | <a href="###">客服中心</a> | <a href="###">友情链接</a></p>
        <p><img src="/images/bot.png" />粤ICP1234 </p>
        <p>Copyright©云绣网XXX.com. All Rights Reserved</p>
    </div>

    <div class="kefu">
        <a href=""><img src="/images/kefu.png"></a>
        <span>在线客服</span>
    </div>

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/buyerjs.js"></script>



</body>
</html>
