@charset "utf-8";
/* CSS Document */
body {background:#f4f4f4;}
/***shopruzhu***/
.shopruzhu {padding:15px 15px;background:#fff;}
.shoptitle {border-bottom:1px solid #f3f3f3;height:45px;}
.shoptitle span{line-height:45px;}
.shoptitle h3 {font-size:22px; width:140px; text-align:left;height:35px; font-weight:normal;float:left;}
.shoptitle h3:before { content:"|";display:inline-block; background:#0078ff;width:8px ;color:#0078ff;float:left;margin:6px 16px 0 0;font-size:16px;}
i.num {color:#429bff;font-size:30px; font-family:"Helvetica Neue",Helvetica,Arial; display:inline-block;width:40px;text-align:center;}
h1.step-title {padding:10px 0;}
h1.step-title span {color:#757575;font-size:18px;font-weight:normal;}

.shopinfo {padding:10px;}
      input[type="text"].dp-title {width:250px;float:left;height:20px;padding:4px;border:1px solid #ddd;}
	  .shoptip {height:70px;}
	  .shoptip textarea {width:500px;float:left;height:60px;padding:4px;border:1px solid #ddd;}
	  li.picbar {height:140px;}
	  li.picbar dl p { text-align:center;width:150px;}
	  li.picbar dt {width:180px;}
	  li.picbar dd {width:190px;display:inline-block;height:140px;}
	  li.picbar dt ,li.picbar dd {float:left;}
	  dl .zpic img {width:150px; height:110px;}
	  dl .zpic { position:relative;}
	  dl .zpic a#zoom1:before{content:url(../images/zoom.jpg); position:absolute;top:90px;}
	  dl .zpic a#zoom2:before{content:url(../images/zoom.jpg); position:absolute;top:90px;}
	  
      .shop-info ul li>p {float:left;width:130px; text-align:right;padding:0 20px 0 0px;font-size:14px;}
	  .shop-info p.cred:after {content:"*";color:#F00;position:absolute;}
	  .shop-info ul li>input[type="text"]{float:left;min-width:500px;height:20px;padding:4px;border:1px solid #ddd;}
	  .shop-info ul li {clear:both;min-height:35px;line-height:32px;margin:0 auto; border-bottom:1px solid #f4f4f4;padding:8px;}
	  .shop-info ul li select {height:30px;border:1px solid #ddd;width:120px;padding:0 0 0 10px; }
	  /**作品tu**/
	  li.up-pic {height:80px;}
      .subpic #Btn_Logo{cursor:pointer;height:92px !important;}
      .subpic #Btn_Logo:hover .uploadify-button-text{background:#ddd;cursor:pointer;}
	  .subpic #SWFUpload_0{padding:22px 0;cursor:pointer;}
	  .subpic .uploadify-button-text{
		  margin-top:10px;
		  border:1px solid #ddd;
		  background:#eee;
		  color:#fff;
		  width:58px; 
		  height:58px; 
		  display:inline-block;
		  font-size:65px;
		  line-height:50px; 
		  font-weight:bold;
		  text-align:center;
		  }
	   .subpic .uploadify-button-text:hover {background:#ddd;}
       .imgshow {width:80px; float:left;height:80px;background:#eee;margin-right:20px;}
	   li.up-pic>label {width:610px !important;margin-left:20px;height:55px; display:inline-block;line-height:25px;margin-top:10px;}
/**shopbottom**/
.shopbottom {height:65px;}
.shopbottom h2 {width:150px; text-align:center;}
.shopbottom h2 a {
	color:#fff;width:110px;
	height:35px; 
	display:block;
	margin:15px 0 0 15px;
	line-height:35px;
	-moz-border-radius:17px;
	border-radius:17px;
	-webkit-border-radius:17px;
	-khtml-border-radius:17px;
	}
.shopbottom h2 a:hover {filter:Alpha(opacity=80);opacity:0.8;}
.shopbottom h2 input[type="submit"] {
	color:#fff;width:110px;
	height:35px; 
	display:block;
	margin:15px 0 0 15px;
	line-height:35px;
	-moz-border-radius:17px;
	border-radius:17px;
	-webkit-border-radius:17px;
	-khtml-border-radius:17px;
    border:none;
    cursor:pointer;
	}
.shopbottom h2 input[type="submit"]:hover {filter:Alpha(opacity=80);opacity:0.8;}
/***tag标签***/
  #shoptag{min-width:550px; height:24px; text-align:left; padding:2px; border:1px #ddd solid ; line-height:22px;float:left;background:#fff;}

div.radius_shadow{border:1px solid #DBDBDB;padding:5px;-webkit-box-shadow:0 0 10px #414141;-moz-box-shadow:0 0 10px #414141;box-shadow:0 0 10px #414141;font-size:12px;background:#fff;}
span#radius{display:inline-block;float:none;font-size:12px;padding:0px 4px;margin:0px 5px;background:#ffede0;border:1px solid #ffaa88;color:#ee5500;}
.tabinput{margin-left:5px;border:0;}
a#deltab{cursor:pointer;display:inline-block;color:#ee5500;margin-left:5px;font-weight:bold;}
a#deltab:hover{color:#D2D2D2;text-decoration:none;}.
/***价格下拉效果**/
.b-price {}
.b-price input[type="text"] {float:left;width:130px;height:20px;padding:4px;border:solid #ddd 1px;}
.shop-info ul li .b-price select { border-left-width:0;width:80px;color:#666; }

/****2016-3-22new***/
#imgbox-loading {position: absolute;top: 0;left: 0;	cursor: pointer;display: none;z-index: 90;}
#imgbox-loading div {background: #FFF;width: 100%;height : 100%;}
#imgbox-overlay {position: absolute;top: 0;	left: 0;width: 100%;height: 100%;background: #000;display: none;z-index: 80;}
.imgbox-wrap {position: absolute;top: 0;left: 0;background: #FFF;display: none;	z-index: 90;}
.imgbox-img {padding: 0;margin: 0;border: none;width: 100%;	height: 100%;vertical-align: top;}
.imgbox-title {	padding-top: 10px;font-size: 11px;text-align: center;font-family: Arial;color: #333;display: none;}
.imgbox-bg-wrap {position: absolute;padding: 0;margin: 0;display: none;}
.imgbox-bg {position: absolute;width: 20px;	height: 20px;}

/****ruzhu shenhe***/
.admit {width:800px;margin:0 auto;height:auto; overflow:hidden;padding:20px 0;}
.sh-l {width:220px;}
.sh-r {line-height:30px; width:520px;padding:50px 0px 0 50px;}

/***lightbox****/
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}