@charset "utf-8";
/* CSS Document */
/***uploadidea***/
.upideatitle {border-bottom:1px solid #f3f3f3;height:35px;line-height:35px;}
.upideatitle h2 {width:110px; text-align:center;color:#fb0808;}
.upideatitle p{text-indent:1em;}

.upideainfo {padding:10px;}
      .idea-info ul li p {float:left;width:130px; text-align:right;padding:0 20px 0 0px;font-size:14px;}
	  .idea-info p.cred:after {content:"*";color:#F00;position:absolute;}
	  .idea-info ul li>input[type="text"]{float:left;min-width:550px;;height:20px;padding:4px;border:1px solid #ddd;}
	  .idea-info ul li {clear:both;min-height:45px;line-height:32px;margin:0 auto; border-bottom:1px solid #f4f4f4;padding-top:13px;}
	  .idea-info ul li select {height:30px;border:1px solid #ddd;width:120px;padding:0 0 0 10px; }
	  /**作品tu**/
	  li.up-pic {height:90px;}
	  .subpic {}
	  .subpic a {
		  margin-top:10px;
		  border:1px solid #ddd;
		  background:#eee;
		  color:#fff;
		  width:58px; 
		  height:58px; 
		  display:inline-block;
		  font-size:65px;
		  line-height:50px; 
		  font-weight:bold;
		  text-align:center;
		  }
	   .subpic a:hover {background:#ddd;}
	   li.up-pic>label {width:610px !important;margin-left:20px;height:55px; display:inline-block;line-height:25px;margin-top:10px;}
/**ideabottom**/
.ideabottom {height:65px;}
.ideabottom h2 {width:150px; text-align:center;}
.ideabottom h2 a {
	color:#fff;width:110px;
	height:35px; 
	display:block;
	margin:15px 0 0 15px;
	line-height:35px;
	-moz-border-radius:17px;
	border-radius:17px;
	-webkit-border-radius:17px;
	-khtml-border-radius:17px;
	}
.ideabottom h2 a:hover {filter:Alpha(opacity=80);opacity:0.8;}
/***tag标签***/
  #ideatag{min-width:550px; height:24px; text-align:left; padding:2px; border:1px #ddd solid ; line-height:22px;float:left;background:#fff;}

div.radius_shadow{border:1px solid #DBDBDB;padding:5px;-webkit-box-shadow:0 0 10px #414141;-moz-box-shadow:0 0 10px #414141;box-shadow:0 0 10px #414141;font-size:12px;background:#fff;}
span#radius{display:inline-block;float:none;font-size:12px;padding:0px 4px;margin:0px 5px;background:#ffede0;border:1px solid #ffaa88;color:#ee5500;}
.tabinput{margin-left:5px;border:0;}
a#deltab{cursor:pointer;display:inline-block;color:#ee5500;margin-left:5px;font-weight:bold;}
a#deltab:hover{color:#D2D2D2;text-decoration:none;}.
/***价格下拉效果**/
.b-price {}
.b-price input[type="text"] {float:left;width:130px;;height:20px;padding:4px;border:solid #ddd; border-width:1px 0 1px 1px;}
.idea-info ul li .b-price select { border-left-width:0;width:80px;color:#666; }

