/*@webSir Css*/

/*index第一部分*/
#index1{ padding:0px 0 0 220px; height:240px; overflow:hidden; width:990px;}
.indexPic{ width:670px; height:240px; position:relative;}
.indexPic li{ position:absolute; left:0; top:0;}
.indexPicBT{ position:absolute; right:15px; bottom:15px;}
.indexPicBT a{ display:block; float:left; background:#999999; color:#FFF;-moz-border-radius: 22px;-webkit-border-radius:22px;border-radius: 22px; width:22px; height:22px; line-height:22px; text-align:center; margin-left:5px;}
.indexPicBT a:hover,.indexPicBT a.hot{ background:#e4393c;}


/*公告*/
.gonggao{ width:302px; height:238px; border:1px solid #e1e1e1;}
.gonggao h2{ font-size:14px; position:relative; height:35px; line-height:35px; padding-left:30px; background:url(/images/gonggao.jpg) no-repeat 10px 10px; margin-top:5px;}
.gonggao h2 .more{ position:absolute; display:block; width:80px; text-align:center; color:#FFF; background:#d1caca; font-weight:normal; height:20px; line-height:20px; right:10px; top:6px; font-size:12px;}
.gonggao h2 .more:hover{ background:#cd292b;}
.gonggao .textList{ padding:10px; padding-left:20px;}


#index2{padding:14px 0 0 220px; height:176px; overflow:hidden; width:990px;}

#index2 .scroll{ border:1px solid #e1e1e1; width:668px; height:160px; position:relative;}
.inScroll{ }
#index2 .scroll ul{  position:absolute; width:10000px;}
#index2 .scroll li{ float:left;}

.bt{ display:block; background:url(/images/lr.jpg) no-repeat left top; width:20px; height:20px; position:absolute;}

/*body .btL{ background-position:left bottom; left:8px; top:50%; margin-top:-10px;}
html body .btLhot,body .btL:hover{background-position:left top;}
body .btR{ background-position:right bottom;right:8px; top:50%;margin-top:-10px;}
html body .btRhot,body .btR:hover{background-position:right top;}*/

.indexAd{width:302px; border:1px solid #e1e1e1; height:160px;}


/*楼层*/

/*.floor{ margin-top:20px;}
.floorT{ height:35px; font-size:22px; position:relative;line-height:35px; border-bottom:2px solid #aaa;}
.floorT b{ font-size:16px; display:block; float:left;margin-right:10px; background:url(/images/floorB.gif) no-repeat; width:28px; height:32px; text-align:center; line-height:32px; color:#FFF;}
.floorT ul{ position:absolute; left:205px; bottom:-2px;}
.floorT ul li{ float:left;}
.floorT ul li a{ font-size:14px; display:block; width:150px; text-align:center;height:35px; overflow:hidden;_float:left;}
.floorT ul li a:hover,.floorT ul li a.hot{ background:url(/images/itab3.gif) no-repeat bottom;}

.floorBt{ position:absolute; right:0; top:5px;}

.floorBt a{ color:#005EA7; background:url(/images/i.gif) no-repeat right center; font-size:12px; font-weight:normal; padding:0 12px; padding-left:20px;}
.floorBt a:hover{ text-decoration:underline;}
.floorL{ width:205px; height:320px; overflow:hidden; position:relative;}
.floorL ul{ padding:15px 0 15px 15px; *padding:0 0 15px 15px;}
.floorL li{ float:left; width:80px;height:25px; overflow:hidden;padding-right:5px; *margin-top:5px;}
.floorL .more{ display:block; width:180px; margin-left:12px; text-align:center; background:#eaeaea; border:1px solid #dfdfdf;}

.floorAD{ position:absolute; bottom:0px;width:205px; }


.floorR{ width:1004px;height:320px;overflow:hidden;}
.floorCon{ width:1004px; height:320px; position:relative; padding-top:15px; overflow:hidden;}
.floorCon ul{ width:120%; position:absolute; left:0; top:15px;}
.floorCon li{ float:left; margin-right:20px; width:236px;}
.floorCon li em{ display:block;color:#505050;padding-top:5px; height:46px; overflow:hidden;}
.floorCon li b{ display:block; color:#d23335; }
.floorCon li b s{ font-weight:normal; padding-left:10px; color:#505050;}*/

/*样式*/
.center-x .brand {margin-top:30px;height:180px; display:block;}
.brand ul {margin:25px 0;min-height:90px;}
.brand ul li.btg {border-top:3px solid #2fa278;}
.brand ul li.btr {border-top:3px solid #ff4f58;}
.brand ul li.bty {border-top:3px solid #f1b136;}
.brand ul li.btb {border-top:3px solid #469bd4;}
.brand ul li{
	width:298px;
	display:inline-block;
	float:left;
	height:90px;
	line-height:90px;
	font-size:30px;
	background:#fff;
	}
.brand ul li img {
	height:88px;
	max-width:120px;
	display:table-cell;
	vertical-align:middle;
	float:left;
}
.brand ul li a {
	height:90px;
	line-height:90px;
	font-size:30px;
	vertical-align:middle;
	}
<!--end brand-->

<!--cloth floor--->
.cloth-floor,.hat-floor,.house-floor {height:520px;}
.cloth-floor .floorT h2{border-left:3px solid #ff7d4f;}
.mac-floor .floorT h2{border-left:3px solid #67cd7d;}
.floorT {height:30px;line-height:30px;margin-top:30px;}
.floorT h2 {float:left;color:#333; font-weight:normal;padding-left: 1em;}
.keywords { float:right;line-height:50px;}
.floorCon{ position:relative;height:552px;}
.a_con {width:20%;height:552px;float:left; overflow:hidden;}
.b_con {width:60%;float:left;}
.b_con ul li {
	width:33.33%;
	float:left;
	height:275px; 
	display:inline-block;
	background:#fff;
	text-align:center;
	border-left:1px solid #eee;
	margin-bottom:1px;
	}
.b_con ul li h1 {display:table;width:96%;height:195px;margin-bottom:10px;margin:0 2%;}
.b_con ul li h1 a{ display:table-cell;width:100%;height:195px;vertical-align:middle; text-align:center;}
.b_con ul li h1 a img {max-width:100%; max-height:195px;}
.b_con ul li p {padding:0 12px;margin-bottom:0px;}
.b_con ul li b{min-width:30px; display:inline-block; font-size:18px; font-weight:normal;padding:0 10px;line-height:35px;}
.b_con ul li s {color:#666;}
/****2016-03-24 new***/
.b_con ul li dl {padding:12px 25px;}
.b_con ul li dl dt {font-size:18px; font-weight:bold; color:#000; text-align:left;height:45px;line-height:45px;padding-left:10px;} 
.b_con ul li dl dd {text-align:left;line-height:25px;height:25px;}
.booking {
	position:absolute;
	top:80%;
	left:170px;
	width:150px;
	height:40px;
	line-height:40px;
	border:0;
	color:#fff;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
	}
.updating {
	position:absolute;
	top:250px;
	left:38%;
	width:150px;
	height:40px;
	line-height:40px;
	border:0;
	color:#fff;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
	}
	a.updating:hover,a.booking:hover {filter:Alpha(opacity=80);opacity:0.8;color:#fff;}
/***end floor***/

.announce {
    position: relative;
	}
.ann_con {
	position:absolute;
	right:0; 
	z-index:9;
	width: 200px;
    height: 425px;
    background:rgba(255,255,255,0.8);
    /*filter: alpha(opacity:80);
    opacity: 0.80;*/
	}
.announce ul {  
    padding-top: 5%;
}
.announce ul li {
    padding-left: 35px;
    color: #000;
    height: 30px;
    line-height: 30px;
}
.signinfo{
	padding:20px 10px 0px 10px;
	}
	.signinfo p{line-height:25px;margin-top:3%;margin-left:4%;}
	.ann_con dl {padding-top:10px;}
	.ann_con dl dd{line-height:20px;}
	.tab-ann li{border-bottom:1px solid #999;}
	.tab-ann li a {color:#000;}
	.tab-ann li:hover,.tab-ann li.selected{border-bottom:3px solid #427def;}
	.tab-ann li a:hover,.tab-ann li.selected a{color:#427def}
	.ann_con dl dd a {color:#000;}
	.ann_con dl dd a:hover ,.ann_con dl dd a span{color:#427def;}
	/***hot pro***/

ul.brandlist {
	height:auto;
	overflow:hidden;
	margin-bottom:0;
}
ul.brandlist li{
	height:89.3px;
	border:1px solid #eee;
	border-left:0px;
	}
	ul.brandlist li h1 {height:89.3px;width:100%; display:table; }
	ul.brandlist li h1 a{ height:89.3px;display:table-cell;vertical-align:middle; text-align:center;}
	ul.brandlist li h1 a img {max-width:100%;max-height:89.3px;}
ul.brandlist.sec-brand li {border-width:0 1px;}
ul.brand-active li h5 {text-align:center;line-height:60px;}
ul.brand-active li{
	height:60px;
	display:block;
	clear:both;
	padding:0 5%;
}
ul.brand-active li p {
    line-height: 20px;
    margin-top: 3%;
    margin-left: 4%;
}
ul.brand-active li img{
	max-width:60px;
	max-height:60px;
}

/*****floor top****/
.mac-floor .a_con_top {background-color:#67cd7d;}
.a_con_top {
	width:100%;
	height:38%;
	background-color:#ff7d4f;
	position:relative;
	}
.a_con_top img{
	position:absolute;
	top:45%;
	}
.a_con_bot {
	padding-top:25%;
	height:auto;
	overflow:hidden;
}
.a_con_bot ul li{
	text-align:center;
	line-height:25px;
	}
.a_con_bot ul li a {color:#000;}
.a_con_bot ul li a:hover {color:#296ecc;}
.huodong li {height:30px;}
.mac-floor .huodong li a {background-color:#67cd7d;}
.huodong li a{
	text-align:left;
	background-color:#ff7d4f;
	color:#fff;
	padding:4px;
	}
.c_con {width:20%;height:552px;float:left;border-left:1px solid #eee;}
.mac-floor .c_con ul li h5 {color:#67cd7d;}
.c_con ul li h5 {text-align:center;color:#ff7d4f;margin-top:20px;}
.c_con ul li h1 {height:58px;width:100%; display:table; }
.c_con ul li h1 a{height:58px; display:table-cell;vertical-align:middle; text-align:center;}
.c_con ul li h1 a img {max-width:100%;max-height:58px;}

.picScroll-left{ position:relative;margin:30px 0;}
		.picScroll-left .hd{ overflow:hidden;  height:30px; border-bottom:2px solid #000; padding:0 10px;  }
		/*.picScroll-left .hd .prev,*/.picScroll-left .hd .next{ display:block;  width:51px; height:51px;position:absolute;top:45%;right:-2%;z-index:99;
			 cursor:pointer; background:url(../images/arrowr.png) no-repeat;}
		.picScroll-left .hd .prev {position:absolute;top:45%;left:-2%;background:url(../images/arrowl.png) no-repeat;width:51px;height:51px;z-index:99;}
		.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
		.picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer;}
		.picScroll-left .hd ul li.on{ background-position:0 0; }
		.picScroll-left .bd{margin-top:15px; overflow:hidden;}
		.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
		.picScroll-left .bd ul li{float:left; _display:inline; overflow:hidden; width:20%;border-left:1px solid #eee;}
		.picScroll-left .bd ul li .pic{ text-align:center;width:100%; display:table;}
		.picScroll-left .bd ul li .pic a {display:table-cell;height:190px; vertical-align:middle;}
		.picScroll-left .bd ul li .pic img{ width:100%;max-height:190px; display:block;  padding:2px; }
		.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
		.picScroll-left .bd ul li .title{ line-height:24px;   }
		.picScroll-left .bd ul li .title p.priceline{border-top:1px dashed #eee;margin-bottom:0;line-height:54px;}
		.picScroll-left .bd ul li .title p.priceline span.pricel {
			text-align:left;
			font-size:18px;
			}
		.picScroll-left .bd ul li .title p.priceline span.pricer{
			float:right;
			}
		.picScroll-left .bd ul li .title p.titlepro {
			line-height:25px;
			height:50;
			overflow:hidden;
		}
		.picScroll-left .bd ul li .title p.titlepro a {color:#000;}
		.picScroll-left .bd ul li .title p.titlepro a:hover {color:#296ecc;}

