
.issuecontentw{
	width: 770px;
	border-top: 1px solid #ddd; 
	margin-bottom:40px;
	min-height: 700px;
	float: left;
}
.issuetoptitle{
	font-size: 16px;
    padding: 20px 0 30px;
    font-weight: bold;
}
.issuetoptitle1{
	font-size: 16px;
	padding: 20px 0 10px;
	font-weight: bold;
}

.icontenx{
	width: 88%;
	position: relative;
	margin: 20px auto;
}
.icontenw{
	width: 88%;
	position: relative;
	margin: 20px auto;
}
.icontenx p{
	line-height: 20px;
	text-align: justify;
}
.icontenx p img{
	max-width: 670px;
}
.icontenx p span{
	color: #000;
}
.pleft16{
	padding-left: 16px;
}
.pleft24{
	padding-left: 24px;
}
.pleft48{
	padding-left: 48px;
}
.color-red{
	color: red !important;
}
.fblod{
	font-weight: bold;
}
/*不需要展开的标题*/
.litemtitle1{
	font-size: 14px;
	margin-top: 20px;
}
/*需要展开的标题*/
.litemtitle{
	font-size: 14px;
	cursor: pointer;
	margin-top: 20px;
	padding-left: 20px;
	background-image: url("../images/btnf.png");
	background-size: 12px;
	background-position:  left center;
	background-repeat:  no-repeat;
}
.titleactive{
	background-image: url("../images/btns.png");
}
/*p.litemtitle:before{
	content: url(../images/btnf.png);
	padding: 4px;
	vertical-align: middle;
}*/
.litem-conten{
	display: none;
}
.litem-conten:nth-child(n){
	padding-left: 16px;
}

/*表格样式*/
.tabstyle th,.tabstyle td{
	padding: 6px 8px;
	border: solid #6ab4fd;
	border-width: 1px 0 0 1px;
	text-align: center;
	line-height: 18px;
}
.tabstyle{
	border: solid #6ab4fd;
	border-width: 0 1px 1px 0;
}

/*standard导航样式*/
.standard-list{

}
.standard-list .standard-item{
	width: 70px;
	height: 30px;
	margin-right: 0px;
	background: #efefef;
	float: left;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	cursor: pointer;
}
.standard-list .standard-item:hover{
	background-color: #2fa8e1 !important;
}
.standard-current{
	background-color: #2fa8e1 !important;
}
.standard-table{
	display: none;
}
.icontenw .standard-table:first-child{
	display: block;
}