@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>云绣网-客服中心</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/public1.css">
    <link rel="stylesheet" type="text/css" href="/css/kefu1.css">
</head>
<body>

    <div id="topbar">
        <div class="container">
            <div class="col-xs-6 row">
                <span class="fl">欢迎您,</span><!--<a>[登录]</a>&nbsp;<a>[注册]</a>-->
                <ul class="fl topl">
                    <li class="talk">
                        消息<i style="background:url(/images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                        <dl class="sub-menu">
                            <dd><a>待处理订单</a></dd>
                            <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                            <dd><a>通知</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        我的云绣
                        <div class="sub-menu bg-white" style="z-index:9999; width:200px;border:1px solid #ddd;border-top:0;">
                            <dl class="fl">
                                <dt><a>我是买家</a></dt>
                                <dd><a>发布采购</a></dd>
                                <dd><a>发布招标</a></dd>
                                <dd><a>我的优惠券</a></dd>
                                <dd><a>我的采购单</a></dd>
                                <dd><a>我的留言</a></dd>
                            </dl>
                            <dl class="fl">
                                <dt><a>我是卖家</a></dt>
                                <dd><a>管理旺铺</a></dd>
                                <dd><a>已卖出的商品</a></dd>
                                <dd><a>管理供应商品</a></dd>
                                <dd><a>我的商机</a></dd>
                            </dl>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="topbarr row">
                <ul>
                    <!--<li class="talk">
                       消息<i style="background:url(/images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                       <dl class="sub-menu">
                          <dd><a>待处理订单</a></dd>
                          <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                          <dd><a>通知</a></dd>
                       </dl>
                    </li>-->
                    <li class="menu">
                        我的收藏
                        <dl class="sub-menu">
                            <dd><a>收藏的商品</a></dd>
                            <dd><a>收藏的供应商</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        云绣服务
                        <dl class="sub-menu">
                            <dd><a>标王服务</a></dd>
                            <dd><a>黄金展位</a></dd>
                            <dd><a>会员服务</a></dd>
                            <dd><a>商贸通</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        诚信商家
                        <dl class="sub-menu">
                            <dd><a>商家权益</a></dd>
                            <dd><a>招商标准</a></dd>
                            <dd><a>收费标准</a></dd>
                            <dd><a>入驻开店</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        客服中心
                        <dl class="sub-menu">
                            <dd><a>买家帮助</a></dd>
                            <dd><a>卖家帮助</a></dd>
                            <dd><a>在线咨询</a></dd>
                            <dd><a>常见问答</a></dd>
                            <dd><a>二维码</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        网站导航
                        <dl class="sub-menu">
                            <dd><a>云绣ERP</a></dd>
                            <dd><a>娴婷一账通</a></dd>
                            <dd><a>云绣网</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="header clearfix">
        <div class="container">
            <ul class="header-item header-l">
                <li>
                    <a href=""><img src="/images/logo.png"></a>
                </li>
                <li><p>客服中心</p></li>
                <li style="margin-left:15px;"><img src="/images/slogan1.png" alt="刺绣行业一站式采购" /></li>
            </ul>
            <p class="header-item header-r">
                <a href="/">首页</a>
                <b>|</b>
                <a href="/Store/StoreServicesHome">云绣服务</a>
                <b>|</b>
                <a href="/Store/StoreCustomerServiceCentre">客服中心</a>
            </p>
        </div>
    </div>

    <div class="kefu-banner">
        <div class="center-l">
            <a class="kefu-consult" href="">
                <img src="/images/consult-btn.png" alt="立即咨询">
            </a>
        </div>
    </div>

    <div class="rule-list container">
        <div class="col-md-3 col-sm-3 rule-menu">
            <p class="rule-menu-title">规则体系</p>
            <div class="search-bar">
                <span>关键词：</span>
                <input></input>
                <button type="button" class="btn btn-default btn-ser">搜索</button>
            </div>
            <p class="Collapsing  current">招商规则</p>
            <div class="coll_body">
                <a href="#">招商方向</a>
                <a href="#">招商标准</a>
                <a href="#">资费标准</a>
                <a href="#">缴费流程</a>
                <a href="#">充值标准</a>
                <a href="#">商家资质更新操作</a>
                <a href="#">品牌申请操作</a>
                <a href="#">商家续签管理规则</a>
            </div>
            <p class="Collapsing">云绣平台规则</p>
            <div class="coll_body">
                <a href="#">发票管理规则</a>
                <a href="#">资金管理规则</a>
                <a href="#">保证金管理规则</a>
                <a href="#">违规申诉管理规则</a>
                <a href="#">超时交易管理规则</a>
                <a href="#">机器类交易管理规则</a>
                <a href="#">订单审核时效规则</a>
                <a href="#">卖家信用管理规则</a>
            </div>
            <p class="Collapsing">平台管理规则</p>
            <div class="coll_body">
                <a href="#">注册协议规则</a>
                <a href="#">平台评价管理规则</a>
                <a href="#">商品管理制度规则</a>
                <a href="#">协议终止处理规则</a>
                <a href="#">交易纠纷处理规则</a>
                <a href="#">关键词投放管理规则</a>
                <a href="#">SEO广告投放标准规则</a>
                <a href="#">子域名（店铺域名）管理规则</a>
            </div>
            <p class="Collapsing">店铺基本规则</p>
            <div class="coll_body">
                <a href="#">会员注册</a>
                <a href="#">注册流程</a>
                <a href="#">入驻帮助</a>
                <a href="#">资料审核流程</a>
                <a href="#">买家积分管理规则</a>
                <a href="#">卖家工单处理规则</a>
                <a href="#">卖家店铺命名规则</a>
                <a href="#">商家售后服务管理规则</a>
                <a href="#">搜索排名（内部）排序规则</a>
            </div>
            <p class="Collapsing">商品管理规则</p>
            <div class="coll_body">
                <a href="#">发货管理规则</a>
                <a href="#">商城数据管理规则</a>
                <a href="#">如何查看经营数据</a>
                <a href="#">如何设置“营销活动”</a>
                <a href="#">如何使用会员管理功能</a>
                <a href="#">在售/仓库商品管理规则</a>
                <a href="#">物流公司管理和运费模板设置</a>
            </div>
            <p class="Collapsing">订单处理流程规则</p>
            <div class="coll_body">
                <a href="#">订单审核</a>
                <a href="#">延时处理流程</a>
                <a href="#">出货单处理流程</a>
                <a href="#">退换货处理流程</a>
                <a href="#">结算方式及流程</a>
                <a href="#">站内转账处理流程</a>
                <a href="#">如何处理订单和发货流程</a>
            </div>
            <p class="Collapsing">店铺基本规则</p>
            <div class="coll_body">
                <a href="#">如何添加商品</a>
                <a href="#">店铺页面介绍</a>
                <a href="#">店铺装修帮助</a>
                <a href="#">如何进行店铺分类</a>
                <a href="#">如何授权员工管理</a>
                <a href="#">如何处理商家信息</a>
                <a href="#">如何处理评价和留言</a>
                <a href="#">店铺基本设置注意事项</a>
                <a href="#">如何设置店铺“二级域名”</a>
            </div>
            <p class="Collapsing">客服设置规则</p>
            <div class="coll_body">
                <a href="#">客服账号绑定</a>
                <a href="#">员工管理原则</a>
                <a href="#">商城客服管理</a>
                <a href="#">增值服务介绍</a>
                <a href="#">店铺动态设置</a>
                <a href="#">发货管理规则</a>
                <a href="#">平台客服设置</a>
            </div>
        </div>

        <div class="col-md-9 col-sm-9">
            <div class="agreement">
                <div class="agreement-content">
                    <img class="agreement-title" src="/images/agreetitle.png">
                    <br>
                    <ul>
                        <li class="agree-item">知识产权</li>
                        <li class="agree-item">服务内容</li>
                        <li class="agree-item">确认与接受服务条款</li>
                        <li class="agree-item">服务开通及终止</li>
                        <li class="agree-item">注册服务商及客户义务</li>
                        <li class="agree-item">云绣网的义务与权利</li>
                    </ul>
                    <br>
                    <button type="button" class="btn btn-primary morebtn">了解详情</button>
                </div>
            </div>
        </div>
    </div>

    <div class="help-list">
        <div class="helpconten">
            <img src="/images/helpbj.png">
            <div class="helptitle">
                <a class="helptxt ht1" href="">如何进行店铺分类？</a>
                <a class="helptxt ht2" href="">如何退换货？</a>
                <a class="helptxt ht3" href="">如何添加商品？</a>
                <a class="helptxt ht4" href="">如何处理评价和留言？</a>
                <a class="helptxt ht5" href="">店铺基本设置注意事项？</a>
            </div>
        </div>
    </div>

    <div class="comment">
        <div class="comment-content">
            <textarea class="comment-input" placeholder="*反馈内容请控制在1000字以内。"></textarea>
            <span class="artcount"></span>
            <button type="button" class="btn btn-default submitbtn">提交留言</button>

            <div class="kefucontent">
                <div class="kefupic">
                    <a href=""><img src="/images/kefu1.png"></a>
                    <span>售前客服</span>
                </div>
                <ul class="kefulist">
                    <a href=""><li class="kefuitem">客服1</li></a>
                    <a href=""><li class="kefuitem">客服2</li></a>
                    <a href=""><li class="kefuitem">客服3</li></a>
                </ul>

                <div class="kefupic">
                    <a href=""><img src="/images/kefu1.png"></a>
                    <span>售后客服</span>
                </div>
                <ul class="kefulist">
                    <a href=""><li class="kefuitem">客服1</li></a>
                    <a href=""><li class="kefuitem">客服2</li></a>
                </ul>
            </div>
        </div>
    </div>

    <div class="footbot">
        <div class="container">
            <ul>
                <li class="col-md-2"><a href="#"><img src="/images/footicon1.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon2.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon3.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon4.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon5.png" /></a></li>
                <li class="col-md-2"><a href="#"><img src="/images/footicon6.png" /></a></li>
            </ul>
        </div>
    </div>

    <div style="width:100%;">
        <div class="footsec container clear">
            <ul class="f-tip">
                <li class="f-title">新手入门</li>
                <li><a href="###">购物流程</a></li>
                <li><a href="###">入驻流程</a></li>
                <li><a href="###">发票制度</a></li>
                <li><a href="###">会员优惠</a></li>
            </ul>

            <ul class="f-tip">
                <li class="f-title">商家服务</li>
                <li><a href="###">招商标准</a></li>
                <li><a href="###">缴费流程</a></li>
                <li><a href="###">商家资质更新操作</a></li>
                <li><a href="###">品牌申请操作</a></li>
            </ul>

            <ul class="f-tip">
                <li class="f-title">平台规则</li>
                <li><a href="###">买家积分管理规则</a></li>
                <li><a href="###">交易纠纷处理规则</a></li>
                <li><a href="###">违规申诉管理规则</a></li>
                <li><a href="###">资金管理规则</a></li>
            </ul>

            <ul class="f-tip">
                <li class="f-title">客服中心</li>
                <li><a href="###">延时处理流程</a></li>
                <li><a href="###">商城数据管理规则</a></li>
                <li><a href="###">店铺动态设置</a></li>
                <li><a href="###">店铺装修帮助</a></li>
            </ul>

            <ul class="f-tip">
                <li class="f-title">&nbsp;</li>
                <li><a href="###"><img style="width:100px;height:100px;" src="/images/tipflex_258.jpg" /></a></li>
            </ul>
        </div>
    </div>

    <div class="footer container">
        <p style="clear:both;"><a href="###">关于云绣网</a> | <a href="###">会员服务</a> | <a href="###">商家入驻</a> | <a href="###">广告服务</a> | <a href="###">网站导航</a> | <a href="###">诚聘英才</a> | <a href="###">意见投诉</a> | <a href="###">客服中心</a> | <a href="###">友情链接</a></p>
        <p><img src="/images/bot.png" />粤ICP1234 </p>
        <p>Copyright©云绣网XXX.com. All Rights Reserved</p>
    </div>

    <div class="kefu">
        <a href=""><img src="/images/kefu.png"></a>
        <span>在线客服</span>
    </div>


    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/scripts/jQuery.artTxtCount.js"></script>
    <script type="text/javascript" src="/js/kefujs.js"></script>

</body>
</html>