@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        权限名称<input type="text" name="pName" /><br />
        权限键  <input type="text" name="pKey" /><br />
        权限描述<input type="text" name="describe" /><br />
        <input type="button" value="提交" class="add-permission" />
    </div>
</body>
</html>
<script src="/admin_mall/scripts/jquery.js"></script>
<script src="/admin_mall/scripts/MallManage.js?v=2"></script>
