<div class="footbot">
    <div class="container">
        <ul>
            <li><a href="#"><img src="/images/footicon1.png" /></a></li>
            <li><a href="#"><img src="/images/footicon2.png" /></a></li>
            <li><a href="#"><img src="/images/footicon3.png" /></a></li>
            <li><a href="#"><img src="/images/footicon4.png" /></a></li>
            <li><a href="#"><img src="/images/footicon5.png" /></a></li>
            <li><a href="#"><img src="/images/footicon6.png" /></a></li>
        </ul>
    </div>
</div>
<div style="width:100%;">
    <div class="footsec container clear">
        <ul class="f-tip">
            <li class="f-title">常用服务</li>
            <li><a href="###">问题咨询</a></li>
            <li><a href="###">催办订单</a></li>
            <li><a href="###">报修退换货</a></li>
            <li><a href="###">上门安装</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">购物</li>
            <li><a href="###">怎样购物</a></li>
            <li><a href="###">积分优惠券介绍</a></li>
            <li><a href="###">订单状态说明</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">付款</li>
            <li><a href="###">货到付款</a></li>
            <li><a href="###">在线支付</a></li>
            <li><a href="###">其他支付方式</a></li>
            <li><a href="###">发票说明</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">配送</li>
            <li><a href="###">配送服务说明</a></li>
            <li><a href="###">价格保护</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">售后</li>
            <li><a href="###">售后服务政策</a></li>
            <li><a href="###">优质售后服务</a></li>
            <li><a href="###">特色服务指南</a></li>
            <li><a href="###">服务时效承诺</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">商家合作</a></li>
            <li><a href="###">企业采购</a></li>
            <li><a href="###">行业采购指南</a></li>
        </ul>
    </div>
</div>
<div class="footer container">
    <p style="clear:both;"><a href="###">商城简介</a> | <a href="###">商城公告</a> | <a href="###">招贤纳士</a> | <a href="###">联系我们</a> | 联系热线：0752-8888888</p>
    <p>Copyright©供应链商城 TipFlex.com 版权所有   Copyright© 小飛马采购站 TipFlex.com 版权所有</p>
</div>