<!--footer-->




<div class="footbot">
    <div class="container">
        <ul>
            <li class="col-md-3"><a href="#"><img src="/images/footericon1.png" /></a></li>
            <li class="col-md-3"><a href="#"><img src="/images/footericon2.png" /></a></li>
            <li class="col-md-3"><a href="#"><img src="/images/footericon3.png" /></a></li>
            <li class="col-md-3"><a href="#"><img src="/images/footericon4.png" /></a></li>
        </ul>
    </div>
</div>
<div style="width:100%;">
    <div class="footsec container clear">
        <ul class="f-tip">
            <li class="f-title">新手指南</li>
            <li><a href="###">了解云绣</a></li>
            <li><a href="###">免费注册</a></li>
            <li><a href="###">咨询客服</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">买家服务</li>
            <li><a href="/UCenter/UIndex">购物流程</a></li>
            <li><a href="###">购物协议</a></li>
            <li><a href="###">退换货处理</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">卖家服务</li>
            <li><a href="/Store/StoreServicesHome">申请入驻</a></li>
            <li><a href="###">招商标准</a></li>
            <li><a href="###">管理规则</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">交易安全</li>
            <li><a href="###">交易防骗</a></li>
            <li><a href="###">交易保障</a></li>
            <li><a href="###">支付帮助</a></li>
            <li><a href="###">如何退款</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">云绣服务</li>
            <li><a href="###">买卖通</a></li>
            <li><a href="###">招商公告</a></li>
        </ul>
        <ul class="f-tip">
            <li><a href="###"><img style="width:100px;height:100px;" src="/images/tipflex_258.jpg" /></a></li>
        </ul>
    </div>
</div>
<div class="footer container">
    <p style="clear:both;"><a href="###">关于云绣网</a> | <a href="###">会员服务</a> | <a href="###">商家入驻</a> | <a href="###">广告服务</a> | <a href="###">网站导航</a> | <a href="###">诚聘英才</a> | <a href="###">意见投诉</a> | <a href="###">客服中心</a> | <a href="###">友情链接</a></p>
    <p><img src="/images/bot.png" />粤ICP1234 </p>
    <p>Copyright©云绣网XXX.com. All Rights Reserved</p>
</div>