<!--footer-->
<div class="footbot">
    <div class="container">
        <ul>
            <li class="col-md-2"><a href="#"><img src="images/footicon1.png" /></a></li>
            <li class="col-md-2"><a href="#"><img src="images/footicon2.png" /></a></li>
            <li class="col-md-2"><a href="#"><img src="images/footicon3.png" /></a></li>
            <li class="col-md-2"><a href="#"><img src="images/footicon4.png" /></a></li>
            <li class="col-md-2"><a href="#"><img src="images/footicon5.png" /></a></li>
            <li class="col-md-2"><a href="#"><img src="images/footicon6.png" /></a></li>
        </ul>
    </div>
</div>
<div style="width:100%;">
    <div class="footsec container clear">
        <ul class="f-tip">
            <li class="f-title">新手指南</li>
            <li><a href="###">免费注册</a></li>
            <li><a href="###">新手成长</a></li>
            <li><a href="###">买家入门</a></li>
            <li><a href="###">卖家入门</a></li>
            <li><a href="###">客服中心</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">供应商服务</li>
            <li><a href="###">诚信星服务</a></li>
            <li><a href="###">卖家服务</a></li>
            <li><a href="###">物流服务</a></li>
            <li><a href="###">营销平台</a></li>
            <li><a href="###">海量商机</a></li>
            <li><a href="###">近期热搜</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">采购商服务</li>
            <li><a href="###">找供应商</a></li>
            <li><a href="###">采购招标</a></li>
            <li><a href="###">近期热销</a></li>
            <li><a href="###">品牌专栏</a></li>
            <li><a href="###">优惠活动</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">交易安全</li>
            <li><a href="###">卖家防骗</a></li>
            <li><a href="###">交易管理</a></li>
            <li><a href="###">交易安全</a></li>
            <li><a href="###">投诉举报</a></li>
            <li><a href="###">交易保障</a></li>
            <li><a href="###">买家防骗</a></li>
            <li><a href="###">支付帮助</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">云绣服务</li>
            <li><a href="###">买卖通</a></li>
            <li><a href="###">采购通</a></li>
            <li><a href="###">营销标王</a></li>
            <li><a href="###">云绣ERP</a></li>
            <li><a href="###">招商公告</a></li>
        </ul>
        <ul class="f-tip">
            <li class="f-title">&nbsp;</li>
            <li><a href="###"><img style="width:100px;height:100px;" src="~/images/tipflex_258.jpg" /></a></li>
        </ul>
    </div>
</div>
<div class="footer-contact">
    <div class="container">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="col-md-1">
            </div>
            <i class="fl"><img style="width:40px;height:40px;" src="~/images/phone.png" /></i>
            <p class="fl">
                购物咨询电话
                <br /><span class="font16 colorblue">0752-2653808</span>
            </p>
        </div>
        <div class="col-md-4">
            <i class="fl"><img style="width:40px;height:40px;" src="~/images/email.png" /></i>
            <p class="fl">
                客服邮箱
                <br /><span class="font16 colorblue">Service@tipflex.com</span>
            </p>
        </div>
        <div class="col-md-3">
            <i class="fl"><img style="width:40px;height:40px;" src="~/images/tousu.png" /></i>
            <p class="fl">
                投诉电话
                <br /><span class="font16 colorblue">0752-2653808</span>
            </p>
        </div>
    </div>
</div>
<div class="footer container">
    <p style="clear:both;"><a href="###">关于云绣网</a> | <a href="###">会员服务</a> | <a href="###">商家入驻</a> | <a href="###">广告服务</a> | <a href="###">网站导航</a> | <a href="###">诚聘英才</a> | <a href="###">意见投诉</a> | <a href="###">客服中心</a> | <a href="###">友情链接</a></p>
    <p><img src="~/images/bot.png" />粤ICP1234 </p>
    <p>Copyright©云绣网XXX.com. All Rights Reserved</p>
</div>