
.clearfix { 
	*zoom: 1;
} 
.clearfix:before,.clearfix:after { 
	display: table; 
	line-height: 0; 
	content: ""; 
} 
.clearfix:after { 
	clear: both; 
} 
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.hide{
	display: none;
}


.box{
	width: 900px;
	padding: 20px 30px 18px;
    border-bottom: 1px solid #ddd;
}
.box-conten{
	zoom:1;	
    margin-top:9px;
}
.right-conten{
}
.mid-conten{
}
.left-conten{
}
.star{
	width: 85px;
    height: 22px;
    background:url("/images/commentStars.png") no-repeat;
}
.star4{
	background-position: -17px 0;
}
.star3{
	background-position: -34px 0;
}
.star2 {background-position: -51px 0;}
.star1 {background-position: -68px 0;}
.comment-replylist{
	margin-top: 5px;
}
.comment-operate{
	visibility: hidden;
	margin-top: 5px;
}
.operate{
	margin-top: 5px;
}

.user-item img{
	width: 26px;
	height: 26px;
	border-radius: 13px;
}

/*.user-name {color:#0275d8;}*/
.reply-input{
	width: 95%;
}
.reply-submit{
	padding: 5px 28px;
    background: #0275d8;
    color: #FFF;
    margin-right: 0;
    display: inline-block;
}
.reply-textarea{
	margin-top: 10px;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
    background: #f7f7f7;
}
.operate-box{
	float: right;
	margin-top: 5px;
    margin-right:5%;
}
.reply-item{
	padding-top: 5px;
	margin-top: 5px;
    display:none;
	border-top:1px solid #eee;
}
.row-hight {
    border-bottom: 1px solid #ddd;
    height:10px;
}
.comment-replylist .reply-item.store-reply {
    color:#f60;
    display:block;
}
.reply-textarea{
	display: none;
}
.list2{
	display: none;
}
.list3{
	display: none;
}
.product-consultation{}
.item {border-bottom:1px dotted #999;}
.item:last-child{border-bottom:0;}
.item dl {margin-bottom:3px;}
.item .user {color:#999;margin-bottom:8px;margin-top:8px;}
dl.ask dt,dl.answer dt{width:60px;float:left;}
.item .user .user-title{width:55px;float:left;text-align:right; display:inline-block;}
.item .user span {margin-right:18px;}
/*.item dl dd{float:left;}*/