.modal-div {
    z-index: 9999;
    left: 40%;
    width: 1000px;
}

.edit-div {
    z-index:9999;
    left:37%;
    width:1300px;
}
.img-dialog {
    width: 900px;
}

.edit-dialog {
    width:1200px;
}

.edit-html {
    height:100px;
}

.edit-img-div {
    display:none;
}
