@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>云绣网-常见问题</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/public1.css">
    <link rel="stylesheet" type="text/css" href="/css/issuestyle.css">
    <link rel="stylesheet" type="text/css" href="/css/issuelist2.css">
</head>
<body>

    <div id="topbar">
        <div class="container">
            <div class="col-xs-6 row">
                <span class="fl">欢迎您,</span><a>[登录]</a>&nbsp;<a>[注册]</a>

            </div>
            <div class="topbarr row">
                <ul>
                    <!--<li class="talk">
                       消息<i style="background:url(images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                       <dl class="sub-menu">
                          <dd><a>待处理订单</a></dd>
                          <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                          <dd><a>通知</a></dd>
                       </dl>
                    </li>-->
                    <li class="menu">
                        我的收藏
                        <dl class="sub-menu">
                            <dd><a>收藏的商品</a></dd>
                            <dd><a>收藏的供应商</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        我的云绣
                        <dl class="sub-menu">
                            <dd><a>我的购物车</a></dd>
                            <dd><a>我的历史订单</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        卖家中心
                        <dl class="sub-menu">
                            <dd><a>我要开店</a></dd>
                            <dd><a>商家权益</a></dd>
                            <dd><a>招商标准</a></dd>
                            <dd><a>收费标准</a></dd>
                            <dd><a>标王服务</a></dd>
                            <dd><a>黄金展位</a></dd>
                            <dd><a>买卖通</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        客服中心
                        <div class="sub-menu bg-white" style="z-index:9999; width:148px;border:1px solid #ddd;border-top:0;">
                            <dl class="fl">
                                <dt><a>买家</a></dt>
                                <dd><a>卖家帮助</a></dd>
                                <dd><a>在线咨询</a></dd>
                                <dd><a>常见问题</a></dd>
                            </dl>
                            <dl class="fl" style="border-left:1px dotted #ddd;">
                                <dt><a>卖家</a></dt>
                                <dd><a>卖家帮助</a></dd>
                                <dd><a>在线咨询</a></dd>
                                <dd><a>常见问题</a></dd>
                            </dl>
                        </div>
                    </li>
                    <!-- <li  class="menu">
                       网站导航
                       <dl class="sub-menu">
                          <dd><a>云绣ERP</a></dd>
                          <dd><a>娴婷一账通</a></dd>
                          <dd><a>云绣网</a></dd>
                       </dl>
                    </li> -->

                </ul>
            </div>
        </div>
    </div>

    <div class="header clearfix">
        <div class="headerw">
            <ul class="header-item header-l">
                <li>
                    <a href=""><img src="/images/logo.png" alt="云绣网 刺绣行业一站式采购"></a>
                </li>
                <li><p>买家常见问题</p></li>
            </ul>
        </div>
    </div>

    <div class="issuew">
        <!-- 左侧导航栏 -->
        <div class="issuemenu">
            <h2 class="menu-title"><a href="qlistHome.html">常见问题分类</a></h2>
            <h3 class="Collapsing">采购指南</h3>
            <div class="coll_body">
                <a href="/CommonProblem/TermsTrade">交易条款</a>
                <a href="/CommonProblem/ShoppingProcess">购物流程</a>
                <a href="/CommonProblem/Fraud">谨防诈骗</a>
                <a href="/CommonProblem/ReceiptProblems">收货问题</a>
                <a href="/CommonProblem/OrderViolation">订单处理规则</a>
                <a href="/CommonProblem/ProductConsultation">商品咨询</a>
            </div>
            <h3 class="Collapsing current">订单咨询</h3>
            <div class="coll_body active">
                <a href="/CommonProblem/OrderSearch">订单查询</a>
                <a href="/CommonProblem/DDTJ">订单提交</a>
                <a href="/CommonProblem/DDXG">订单修改</a>
                <a class="tcolor" href="">订单取消</a>
                <a href="/CommonProblem/DDCF">订单拆分</a>
                <a href="/CommonProblem/DDYC">订单异常</a>
                <a href="/CommonProblem/DDQD">订单确定</a>
                <a href="/CommonProblem/SDPJ">晒单评价</a>
            </div>
            <h3 class="Collapsing">云绣网纠纷处理规则</h3>
            <div class="coll_body">
                <a href="/CommonProblem/ZZ">总则</a>
                <a href="/CommonProblem/CLYZ">交易纠纷处理原则</a>
                <a href="/CommonProblem/JZZR">举证责任</a>
                <a href="/CommonProblem/CLCX">交易纠纷处理程序</a>
            </div>
            <h3 class="Collapsing">签收问题的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/QSYZ">签收问题的处理原则</a>
                <a href="/CommonProblem/QSJZ">签收问题的举证</a>
                <a href="#">签收问题的相关运费纠纷处理</a>
                <a href="/CommonProblem/JZNR">纠纷举证内容</a>
            </div>
            <h3 class="Collapsing">发货问题的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FHYZ">发货问题的处理原则</a>
                <a href="/CommonProblem/FHJZ">发货问题的举证</a>
                <a href="#">发货相关运费的纠纷问题</a>
            </div>
            <h3 class="Collapsing">发票&赠品问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FPYZ">发票&赠品问题的处理原则</a>
                <a href="/CommonProblem/FPJZ">发票&赠品的举证</a>
                <a href="#">发票&赠品的运费纠纷</a>
            </div>
            <h3 class="Collapsing">商品描述不符的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/MSYZ">描述不符问题的处理原则</a>
                <a href="/CommonProblem/MSJZ">描述不符问题的举证</a>
                <a href="#">提示</a>
            </div>
            <h3 class="Collapsing">商品质量问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/ZLYZ">质量问题的处理原则</a>
                <a href="/CommonProblem/ZLJZ">质量问题的举证</a>
                <a href="/CommonProblem/ZLJC">质量问题的检测</a>
                <a href="#">质量问题的相关运费纠纷处理</a>
            </div>
            <h3 class="Collapsing">退换货问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/THYZ">退换货问题的处理原则</a>
                <a href="/CommonProblem/THJZ">退换货问题的举证</a>
                <a href="#">退换货相关运费的纠纷处理</a>
            </div>
            <h3 class="Collapsing">运费问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/YFYZ">运费问题的处理原则</a>
                <a href="/CommonProblem/yfjz">运费问题的举证</a>
                <a href="#">提示</a>
            </div>
            <h3 class="Collapsing">交易纠纷常见问题</h3>
            <div class="coll_body">
                <a href="/CommonProblem/WTCL">问题及处理</a>
                <a href="/CommonProblem/WQTJ">各类维权时间条件和类型</a>
            </div>
            <h3 class="Collapsing">配送服务</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FHQS">发货与签收</a>
                <a href="/CommonProblem/FHGZ">发货与签收规则</a>
                <a href="/CommonProblem/WLPS">物流配送</a>
            </div>
            <h3 class="Collapsing">售后服务</h3>
            <div class="coll_body">
                <a href="/CommonProblem/THFX">退换货、返修</a>
                <a href="/CommonProblem/THYF">退货运费补偿标准</a>
                <a href="/CommonProblem/SHTK">售后退款</a>
            </div>
        </div>

        <div class="issuecontentw">
            <div class="icontenx">
                <h3 class="issuetoptitle">【订单取消】</h3>
                <p class="litemtitle">怎么查询我的订单是否取消成功？</p>
                <div class="litem-conten">
                    <p>进入【我的订单】查询您订单状态，取消成功订单状态显示【已取消】，如图：</p>
                    <p><img src="/images/xqdd.png"></p>
                    <p>未显示“已取消”则取消失败或取消审核中，可点击订单查看取消详情。</p>
                </div>

                <p class="litemtitle">我可以取消订单吗？如何取消？如何操作？</p>
                <div class="litem-conten">
                    <p>（1）货到付款订单，订单处于暂停状态，您可以直接点击订单查看详情进去，右上角会有取消订单按钮，直接点击取消订单即可；如货物已经打包好等待发货，订单已经无法取消，建议您直接拒收商品；</p>
                    <p>（2）在线支付订单，您可以直接点击订单后面取消按钮，然后申请退款即可，如后期货物送去，建议您直接拒收。</p>
                    <p><span class="color-red">注意：</span>货到付款的订单，如果一个ID帐号在一个月内有过1次以上或一年内有过3次以上，无理由不接收我司配送的商品，我司将在相应的ID帐户里按每单扣除500个金币做为运费；时间计算方法为：成功提交订单后向前推算30天为一个月，成功提交订单后向前推算365天为一年，不以自然月和自然年计算。</p>
                </div>

                <p class="litemtitle">订单取消成功后优惠券如何返回？</p>
                <div class="litem-conten">
                    <p>使用全品类京券、限品类京券、店铺京券、平台专享京券提交的订单，若订单未拆分，则订单取消后，系统自动返还相应的京券；若订单被拆分，取消某一子单或取消全部子单，限品类京券、店铺类京券以及平台专享类京券均不返还，全品类京券则由系统判断，返还等值金币；</p>
                    <p>使用全品类东券、限品类东券、店铺东券、平台专享类东券提交的订单，若订单未拆分，则订单取消后，系统自动返还相应的东券；若订单被拆分，则取消某一子单或取消全部子单，东券均不返还；</p>
                    <p>注：如果是促销活动领取的优惠券，订单取消后优惠券是否退回，请以具体活动规则为准；或联系客服帮您处理。以下为订单退款返还期限：</p>
                    <p>以下为订单退款返还期限：</p>
                    <table class="tabstyle">
                        <tbody align="middle">
                            <tr>
                                <th height="35" rowspan="2" width="30%" colspan="2">支付方式</th>
                                <th rowspan="2" width="30%">退款方式</th>
                                <th width="45%" colspan="2">退款说明</th>
                            </tr>
                            <tr>
                                <th width="15%">云绣网退款处理周期</th>
                                <th width="15%">银行退款处理周期</th>
                            </tr>
                            <tr>
                                <td rowspan="2">在线支付</td>
                                <td>储蓄卡</td>
                                <td>退回原支付卡</td>
                                <td>1个工作日</td>
                                <td>1-7个工作日</td>
                            </tr>
                            <tr>
                                <td>信用卡</td>
                                <td>退回原支付卡</td>
                                <td>1个工作日</td>
                                <td>1-15个工作日</td>
                            </tr>
                            <tr>
                                <td rowspan="3">在线支付--手机支付平台</td>
                                <td>银行卡</td>
                                <td>退回原支付卡</td>
                                <td>1个工作日</td>
                                <td>1-15个工作日</td>
                            </tr>
                            <tr>
                                <td rowspan="2">银行卡+电子券</td>
                                <td>银行卡支付款项退回手机支付平台账户余额</td>
                                <td>1个工作日</td>
                                <td>1-2个工作日</td>
                            </tr>
                            <tr>
                                <td>电子券自动原返至手机支付平台账户</td>
                                <td>1个工作日</td>
                                <td>1-2个工作日</td>
                            </tr>
                            <tr>
                                <td rowspan="4">货到付款/自提支付</td>
                                <td>POS机刷卡</td>
                                <td>退回原支付卡</td>
                                <td>1个工作日</td>
                                <td>1-15个工作日</td>
                            </tr>
                            <tr>
                                <td>支票支付</td>
                                <td>退回原支付卡</td>
                                <td>1个工作日</td>
                                <td>1-3个工作日</td>
                            </tr>
                            <tr>
                                <td rowspan="2">现金支付</td>
                                <td>个人储蓄卡（工、建、农、招）</td>
                                <td>1个工作日</td>
                                <td>1-2个工作日</td>
                            </tr>
                            <tr>
                                <td>其他个人储蓄卡</td>
                                <td>1个工作日</td>
                                <td>2-5个工作日</td>
                            </tr>
                            <tr>
                                <td>分期付款</td>
                                <td>在线分期</td>
                                <td>原支付卡（1、按银行期数，一次性返还；2、分期手续费返还请咨询发卡行）</td>
                                <td>1个工作日</td>
                                <td>2-15个工作日</td>
                            </tr>
                            <tr>
                                <td colspan="2">公司转账</td>
                                <td>原支付公司账户</td>
                                <td>1个工作日</td>
                                <td>1-3个工作日</td>
                            </tr>
                            <tr>
                                <td colspan="2">邮局汇款</td>
                                <td>个人储蓄卡</td>
                                <td>1个工作日</td>
                                <td>1-5个工作日</td>
                            </tr>
                            <tr>
                                <td colspan="2">云绣网账户余额</td>
                                <td>退至云绣网账户</td>
                                <td>订单取消成功后24小时内返还</td>
                                <td>由系统自动返还到云绣网账户</td>
                            </tr>
                            <tr>
                                <td colspan="2">积分或金币</td>
                                <td>退至云绣网账户</td>
                                <td>订单取消成功后24小时内返还</td>
                                <td>由系统自动返还到云绣网账户</td>
                            </tr>
                            <tr>
                                <td colspan="2">京券</td>
                                <td>退至云绣网账户</td>
                                <td>订单取消成功后24小时内返还</td>
                                <td>由系统自动返还到云绣网账户。注：订单发生拆分时，限品类京券、店铺京券不予返还</td>
                            </tr>
                            <tr>
                                <td colspan="2">免运费卷</td>
                                <td>退至云绣网账户</td>
                                <td>订单取消成功后24小时内返还</td>
                                <td>由系统自动返还到云绣网账户。注：如用户正常取消未拆单订单，取消成功，原券返回账户；拆单情况下订单取消，不退还免运费券</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p class="litemtitle">订单取消了，还想要，能不能再配送过来？</p>
                <div class="litem-conten">
                    <p>订单一旦取消将无法恢复，建议您重新下单购买。</p>
                </div>

                <p class="litemtitle">订单拒收后，退款什么时候返还？</p>
                <div class="litem-conten">
                    <p>云绣网商品订单拒收后，在线支付订单您可以在前台提交退款申请，也可以联系客服为您提交退款申请，待商品返回，我司为您审核退款，退款审核成功后，具体退款周期还请您查看售后退款说明，您的订单退款超过退款周期仍未收到退款，请您联系客服进行处理。</p>
                </div>

                <p class="litemtitle">订单如何取消？</p>
                <div class="litem-conten">
                    <p class="fblod">取消未收货的订单，操作步骤如下：</p>
                    <p>1.  如订单处于暂停状态，进入“我的订单"页面，找到要取消的订单，点击“取消订单”按钮；（如下图）</p>
                    <p><img src="images/qxdd1.png"></p>
                    <p>2. 选择订单取消原因后，点击“下一步”提交申请即可；（如下图）</p>
                    <p><img src="images/qxdd2.png"></p>
                    <p>3.  "取消订单"申请成功后，您可在“我的订单>客户服务>取消订单记录”页面查询取消进度。（如下图）</p>
                    <p><img src="images/qxdd3.png"></p>
                    <p>4. 如货物已经打包好等待发货，订单已经无法取消，建议您直接拒收商品；部分特殊商品（如生鲜）不能拒收，具体请以页面商品介绍信息为准。</p>
                    <p>5.如在线支付订单，您可以直接点击订单后面”取消“按钮，然后申请退款即可，如后期货物送去，建议您直接拒收。</p>
                    <p class="fblod">取消订单注意事项：</p>
                    <p>1. 订单提交成功后，您可取消云绣网自营商品订单及部分第三方卖家出售的商品订单，订单取消申请一旦提交成功，将无法进行任何修改或恢复，请您谨慎操作。</p>
                    <p>2. 提交订单取消申请后，系统会确认包裹位置，拦截成功之后会为您办理退款。若订单取消失败，订单会继续为您配送，您可根据需要签收或拒收。</p>
                    <p>3. 订单若包含赠品、加价购、满减、东券、套装等促销活动商品，若主商品订单取消，关联促销商品也将取消。</p>
                    <p>4. 已收货的订单，请申请返修/退换货。</p>
                    <p>5. 如果一个ID帐号在一个月内有过1次以上或一年内有过3次以上（不含本数），因非因云绣网原因导致拒收云绣网配送的商品，云绣网将从相应的ID帐户里按每单扣除500个金币做为运费补偿；即一个用户一个月内，如果拒收次数超过一次，第一次拒收的订单不扣除金币，第二次及以上拒收的订单，每单扣除500金币；一个用户一年内，如果拒收次数超过三次，前三次拒收的订单不扣除金币，（其中若存在一个月内有过1次以上的情况，按照以上规定操作）第四次及以上拒收的订单，每单扣除500金币。时间计算方法为：成功提交订单后向前推算30天为一个月，成功提交订单后向前推算365天为一年，不以自然月和自然年计算。</p>
                </div>

                <p class="litemtitle">没有点击取消订单，订单为何取消了？</p>
                <div class="litem-conten">
                    <p>1.在线支付的订单，如果在24小时内您没有操作付款，订单会被系统自动取消；(特殊时期以页面提示信息为准)</p>
                    <p>2.邮局汇款与公司转账订单，若您选择线下付款，需要在10天内支付完毕并对账完成，否则订单会被取消。(注：对账周期是3个工作日)</p>
                    <p>3.抢购商品竞拍成功后， 1小时未转订单或提交订单后24小时未支付全款，该次交易无效，商品流拍，订单将会被系统自动取消，商品将重新竞拍，该账户将被扣除2000金币。</p>
                </div>

                <p class="litemtitle">我发现我的订单锁定了，如何解锁？怎么操作我的订单才能正常发货？</p>
                <div class="litem-conten">
                    <p>订单锁定是由于修改订单后未保存造成的，您可以尝试打开订单页面点击解锁，如未能解锁请联系客服为您处理。</p>
                </div>
            </div>
        </div>

    </div>

    <div class="footbot">
        <div class="container">
            <ul>
                <li class="col-md-3"><a href="#"><img src="/images/footericon1.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon2.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon3.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon4.png" /></a></li>
            </ul>
        </div>
    </div>

    <div style="width:100%;">
        <div class="footsec container clear">
            <ul class="f-tip">
                <li class="f-title">新手指南</li>
                <li><a href="###">了解云绣</a></li>
                <li><a href="###">免费注册</a></li>
                <li><a href="###">咨询客服</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">买家服务</li>
                <li><a href="###">购物流程</a></li>
                <li><a href="###">购物协议</a></li>
                <li><a href="###">退换货处理</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">卖家服务</li>
                <li><a href="###">申请入驻</a></li>
                <li><a href="###">招商标准</a></li>
                <li><a href="###">管理规则</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">交易安全</li>
                <li><a href="###">交易防骗</a></li>
                <li><a href="###">交易保障</a></li>
                <li><a href="###">支付帮助</a></li>
                <li><a href="###">如何退款</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">云绣服务</li>
                <li><a href="###">买卖通</a></li>
                <li><a href="###">招商公告</a></li>
            </ul>
            <ul class="f-tip">
                <li><a href="###"><img style="width:100px;height:100px;" src="/images/tipflex_258.jpg" /></a></li>
            </ul>
        </div>
    </div>

    <div class="footer container">
        <p style="clear:both;"><a href="###">关于云绣网</a> | <a href="###">会员服务</a> | <a href="###">商家入驻</a> | <a href="###">广告服务</a> | <a href="###">网站导航</a> | <a href="###">诚聘英才</a> | <a href="###">意见投诉</a> | <a href="###">客服中心</a> | <a href="###">友情链接</a></p>
        <p><img src="/images/bot.png" />粤ICP1234 </p>
        <p>Copyright©云绣网XXX.com. All Rights Reserved</p>
    </div>

    <!-- 固定屏幕右侧 -->
    <div class="kefu">
        <a href=""><img src="images/kefu.png"></a>
        <span>在线客服</span>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/issuejs.js"></script>

</body>
</html>