@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云绣网-常见问题</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/public1.css">
    <link rel="stylesheet" type="text/css" href="/css/issuestyle.css">
    <link rel="stylesheet" type="text/css" href="/css/issuelist2.css">
</head>
<body>

    <div id="topbar">
        <div class="container">
            <div class="col-xs-6 row">
                <span class="fl">欢迎您,</span><a>[登录]</a>&nbsp;<a>[注册]</a>

            </div>
            <div class="topbarr row">
                <ul>
                    <!--<li class="talk">
                       消息<i style="background:url(images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                       <dl class="sub-menu">
                          <dd><a>待处理订单</a></dd>
                          <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                          <dd><a>通知</a></dd>
                       </dl>
                    </li>-->
                    <li class="menu">
                        我的收藏
                        <dl class="sub-menu">
                            <dd><a>收藏的商品</a></dd>
                            <dd><a>收藏的供应商</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        我的云绣
                        <dl class="sub-menu">
                            <dd><a>我的购物车</a></dd>
                            <dd><a>我的历史订单</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        卖家中心
                        <dl class="sub-menu">
                            <dd><a>我要开店</a></dd>
                            <dd><a>商家权益</a></dd>
                            <dd><a>招商标准</a></dd>
                            <dd><a>收费标准</a></dd>
                            <dd><a>标王服务</a></dd>
                            <dd><a>黄金展位</a></dd>
                            <dd><a>买卖通</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        客服中心
                        <div class="sub-menu bg-white" style="z-index:9999; width:148px;border:1px solid #ddd;border-top:0;">
                            <dl class="fl">
                                <dt><a>买家</a></dt>
                                <dd><a>卖家帮助</a></dd>
                                <dd><a>在线咨询</a></dd>
                                <dd><a>常见问题</a></dd>
                            </dl>
                            <dl class="fl" style="border-left:1px dotted #ddd;">
                                <dt><a>卖家</a></dt>
                                <dd><a>卖家帮助</a></dd>
                                <dd><a>在线咨询</a></dd>
                                <dd><a>常见问题</a></dd>
                            </dl>
                        </div>
                    </li>
                    <!-- <li  class="menu">
                       网站导航
                       <dl class="sub-menu">
                          <dd><a>云绣ERP</a></dd>
                          <dd><a>娴婷一账通</a></dd>
                          <dd><a>云绣网</a></dd>
                       </dl>
                    </li> -->

                </ul>
            </div>
        </div>
    </div>

    <div class="header clearfix">
        <div class="headerw">
            <ul class="header-item header-l">
                <li>
                    <a href=""><img src="/images/logo.png" alt="云绣网 刺绣行业一站式采购"></a>
                </li>
                <li><p>买家常见问题</p></li>
            </ul>
        </div>
    </div>

    <div class="issuew">
        <!-- 左侧导航栏 -->
        <div class="issuemenu">
            <h2 class="menu-title"><a href="qlistHome.html">常见问题分类</a></h2>
            <h3 class="Collapsing">采购指南</h3>
            <div class="coll_body">
                <a href="/CommonProblem/TermsTrade">交易条款</a>
                <a href="/CommonProblem/ShoppingProcess">购物流程</a>
                <a href="/CommonProblem/Fraud">谨防诈骗</a>
                <a href="/CommonProblem/ReceiptProblems">收货问题</a>
                <a href="/CommonProblem/OrderViolation">订单处理规则</a>
                <a href="/CommonProblem/ProductConsultation">商品咨询</a>
            </div>
            <h3 class="Collapsing current">订单咨询</h3>
            <div class="coll_body active" style="display:block;">
                <a href="/CommonProblem/OrderSearch">订单查询</a>
                <a href="/CommonProblem/DDTJ">订单提交</a>
                <a class="tcolor" href="">订单修改</a>
                <a href="/CommonProblem/DDQX">订单取消</a>
                <a href="/CommonProblem/DDCF">订单拆分</a>
                <a href="/CommonProblem/DDYC">订单异常</a>
                <a href="/CommonProblem/DDQD">订单确定</a>
                <a href="/CommonProblem/SDPJ">晒单评价</a>
            </div>
            <h3 class="Collapsing">云绣网纠纷处理规则</h3>
            <div class="coll_body">
                <a href="/CommonProblem/ZZ">总则</a>
                <a href="/CommonProblem/CLYZ">交易纠纷处理原则</a>
                <a href="/CommonProblem/JZZR">举证责任</a>
                <a href="/CommonProblem/CLCX">交易纠纷处理程序</a>
            </div>
            <h3 class="Collapsing">签收问题的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/QSYZ">签收问题的处理原则</a>
                <a href="/CommonProblem/QSJZ">签收问题的举证</a>
                <a href="#">签收问题的相关运费纠纷处理</a>
                <a href="/CommonProblem/JZNR">纠纷举证内容</a>
            </div>
            <h3 class="Collapsing">发货问题的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FHYZ">发货问题的处理原则</a>
                <a href="/CommonProblem/FHJZ">发货问题的举证</a>
                <a href="#">发货相关运费的纠纷问题</a>
            </div>
            <h3 class="Collapsing">发票&赠品问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FPYZ">发票&赠品问题的处理原则</a>
                <a href="/CommonProblem/FPJZ">发票&赠品的举证</a>
                <a href="#">发票&赠品的运费纠纷</a>
            </div>
            <h3 class="Collapsing">商品描述不符的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/MSYZ">描述不符问题的处理原则</a>
                <a href="/CommonProblem/MSJZ">描述不符问题的举证</a>
                <a href="#">提示</a>
            </div>
            <h3 class="Collapsing">商品质量问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/ZLYZ">质量问题的处理原则</a>
                <a href="/CommonProblem/ZLJZ">质量问题的举证</a>
                <a href="/CommonProblem/ZLJC">质量问题的检测</a>
                <a href="#">质量问题的相关运费纠纷处理</a>
            </div>
            <h3 class="Collapsing">退换货问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/THYZ">退换货问题的处理原则</a>
                <a href="/CommonProblem/THJZ">退换货问题的举证</a>
                <a href="#">退换货相关运费的纠纷处理</a>
            </div>
            <h3 class="Collapsing">运费问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/YFYZ">运费问题的处理原则</a>
                <a href="/CommonProblem/YFJZ">运费问题的举证</a>
                <a href="#">提示</a>
            </div>
            <h3 class="Collapsing">交易纠纷常见问题</h3>
            <div class="coll_body">
                <a href="/CommonProblem/WTCL">问题及处理</a>
                <a href="/CommonProblem/WQTJ">各类维权时间条件和类型</a>
            </div>
            <h3 class="Collapsing">配送服务</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FHQS">发货与签收</a>
                <a href="/CommonProblem/FHGZ">发货与签收规则</a>
                <a href="/CommonProblem/WLPS">物流配送</a>
            </div>
            <h3 class="Collapsing">售后服务</h3>
            <div class="coll_body">
                <a href="/CommonProblem/THFX">退换货、返修</a>
                <a href="/CommonProblem/THYF">退货运费补偿标准</a>
                <a href="/CommonProblem/SHTK">售后退款</a>
            </div>
        </div>

        <div class="issuecontentw">
            <div class="icontenx">
                <h3 class="issuetoptitle1">【订单修改】</h3>
                <p class="litemtitle titleactive">下单之后如何修改配送时间？</p>
                <div class="litem-conten">
                    <p>云绣网自营且云绣网配送（非自提）的订单打印前可以修改配送时间，中小件订单可修改选择：工作日送货、节假日送货、工作日节假日均可送货，大家电订单可根据页面提示选择送货日期。</p>
                </div>

                <p class="litemtitle">下单之后如何修改收货地址？</p>
                <div class="litem-conten">
                    <p>云绣网发货的订单，在订单打印前，可以修改末级收货地址，打开订单详情页面，点击右上角修改按钮即可，如无修改按钮，则说明订单已经无法进行修改。</p>
                </div>

                <p class="litemtitle">下单之后如何修改支付方式？</p>
                <div class="litem-conten">
                    <p>订单提交之后暂不支持修改支付方式。</p>
                </div>

                <p class="litemtitle">下单之后如何修改商品数量和颜色？</p>
                <div class="litem-conten">
                    <p>订单一旦提交成功，将无法修改商品数量和颜色。</p>
                </div>

                <p class="litemtitle">什么是有货先发？</p>
                <div class="litem-conten">
                    <p>订单有货先发是指一个订单中存在两种或两种以上不同的商品时，部分商品因无货/缺货需要将有货的商品进行优先配送而进行订单拆分的操作。</p>
                </div>

                <p class="litemtitle">如何修改/取消订单？</p>
                <div class="litem-conten">
                    <p>1.货到付款订单，订单处于暂停状态，您可以直接点击订单查看详情进去，右上角会有取消订单按钮，直接点击取消订单即可；如货物已经打包好等待发货，订单已经无法取消，建议您直接拒收商品；</p>
                    <p>2.在线支付订单，您可以直接点击订单后面取消按钮，然后申请退款即可，如后期货物送去，建议您直接拒收。</p>
                    <p><span class="color-red">注意：</span>货到付款的订单，如果一个ID帐号在一个月内有过1次以上或一年内有过3次以上，无理由不接收我司配送的商品，我司将在相应的ID帐户里按每单扣除500个金币做为运费；时间计算方法为：成功提交订单后向前推算30天为一个月，成功提交订单后向前推算365天为一年，不以自然月和自然年计算。</p>
                    <p><img src="images/xgdd.png"></p>
                </div>

                <p class="litemtitle">修改订单时，订单为什么会被锁定？</p>
                <div class="litem-conten">
                    <p>为了避免您在修改订单的同时，您的订单继续被程序处理和执行，我们会在您修改订单过程中锁定您的订单，直到您完成修改并点击了“提交订单”按钮。</p>
                    <p>如果您在修改过程当中放弃了修改，建议您返回订单列表页面点击操作栏中的“解锁订单”，否则您的订单将在2个小时后自动解锁，将影响您订单的生产时间和收货时间。</p>
                </div>

                <p class="litemtitle">购物车中商品下单时价格和修改订单时价格不一致，按哪个价格计算？</p>
                <div class="litem-conten">
                    <p>如果您不修改该商品的购买数量，那么价格和赠品都会维持您下单时的状态不变；</p>
                    <p>如果您修改了该商品购买数量或者添加了新商品，那么价格和赠品都会与云绣网最新显示的价格和赠品一致。</p>
                    <p>如果您添加了新商品，那么新商品的价格与云绣网最新显示的价格和赠品一致。</p>
                </div>

                <p class="litemtitle">订单取消后还能恢复吗？</p>
                <div class="litem-conten">
                    <p>订单一旦取消，将无法恢复，请您慎重操作。</p>
                </div>

                <p class="litemtitle">我的订单已经取消了，何时给我退款或退优惠券？</p>
                <div class="litem-conten">
                    <p>一般订单未拆分的情况下，订单取消后普通京券和东券系统将在1-3个工作日自动退回账户（如订单拆分，优惠券是无法返还的），如果是促销活动领取的优惠券，订单取消后优惠券是否退回，请以具体活动规则为准；或联系客服帮您处理。</p>
                </div>

                <p class="litemtitle">订单预留手机号能否修改？</p>
                <div class="litem-conten">
                    <p>云绣网发货订单在订单打印前，可以在订单详情页面中修改预留手机号码，如前台无修改按钮,则表示订单无法进行修改。</p>
                </div>
            </div>
        </div>

    </div>

    <!--footer-->
    <div class="footbot">
        <div class="container">
            <ul>
                <li class="col-md-3"><a href="#"><img src="/images/footericon1.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon2.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon3.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon4.png" /></a></li>
            </ul>
        </div>
    </div>

    <div style="width:100%;">
        <div class="footsec container clear">
            <ul class="f-tip">
                <li class="f-title">新手指南</li>
                <li><a href="###">了解云绣</a></li>
                <li><a href="###">免费注册</a></li>
                <li><a href="###">咨询客服</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">买家服务</li>
                <li><a href="###">购物流程</a></li>
                <li><a href="###">购物协议</a></li>
                <li><a href="###">退换货处理</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">卖家服务</li>
                <li><a href="###">申请入驻</a></li>
                <li><a href="###">招商标准</a></li>
                <li><a href="###">管理规则</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">交易安全</li>
                <li><a href="###">交易防骗</a></li>
                <li><a href="###">交易保障</a></li>
                <li><a href="###">支付帮助</a></li>
                <li><a href="###">如何退款</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">云绣服务</li>
                <li><a href="###">买卖通</a></li>
                <li><a href="###">招商公告</a></li>
            </ul>
            <ul class="f-tip">
                <li><a href="###"><img style="width:100px;height:100px;" src="/images/tipflex_258.jpg" /></a></li>
            </ul>
        </div>
    </div>

    <div class="footer container">
        <p style="clear:both;"><a href="###">关于云绣网</a> | <a href="###">会员服务</a> | <a href="###">商家入驻</a> | <a href="###">广告服务</a> | <a href="###">网站导航</a> | <a href="###">诚聘英才</a> | <a href="###">意见投诉</a> | <a href="###">客服中心</a> | <a href="###">友情链接</a></p>
        <p><img src="/images/bot.png" />粤ICP1234 </p>
        <p>Copyright©云绣网XXX.com. All Rights Reserved</p>
    </div>

    <!-- 固定屏幕右侧 -->
    <div class="kefu">
        <a href=""><img src="/images/kefu.png"></a>
        <span>在线客服</span>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/issuejs.js"></script>
</body>
</html>