@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>云绣网-常见问题</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/public1.css">
    <link rel="stylesheet" type="text/css" href="/css/issuestyle.css">
    <link rel="stylesheet" type="text/css" href="/css/issuelist2.css">
</head>
<body>

    <div id="topbar">
        <div class="container">
            <div class="col-xs-6 row">
                <span class="fl">欢迎您,</span><a>[登录]</a>&nbsp;<a>[注册]</a>

            </div>
            <div class="topbarr row">
                <ul>
                    <!--<li class="talk">
                       消息<i style="background:url(images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                       <dl class="sub-menu">
                          <dd><a>待处理订单</a></dd>
                          <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                          <dd><a>通知</a></dd>
                       </dl>
                    </li>-->
                    <li class="menu">
                        我的收藏
                        <dl class="sub-menu">
                            <dd><a>收藏的商品</a></dd>
                            <dd><a>收藏的供应商</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        我的云绣
                        <dl class="sub-menu">
                            <dd><a>我的购物车</a></dd>
                            <dd><a>我的历史订单</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        卖家中心
                        <dl class="sub-menu">
                            <dd><a>我要开店</a></dd>
                            <dd><a>商家权益</a></dd>
                            <dd><a>招商标准</a></dd>
                            <dd><a>收费标准</a></dd>
                            <dd><a>标王服务</a></dd>
                            <dd><a>黄金展位</a></dd>
                            <dd><a>买卖通</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        客服中心
                        <div class="sub-menu bg-white" style="z-index:9999; width:148px;border:1px solid #ddd;border-top:0;">
                            <dl class="fl">
                                <dt><a>买家</a></dt>
                                <dd><a>卖家帮助</a></dd>
                                <dd><a>在线咨询</a></dd>
                                <dd><a>常见问题</a></dd>
                            </dl>
                            <dl class="fl" style="border-left:1px dotted #ddd;">
                                <dt><a>卖家</a></dt>
                                <dd><a>卖家帮助</a></dd>
                                <dd><a>在线咨询</a></dd>
                                <dd><a>常见问题</a></dd>
                            </dl>
                        </div>
                    </li>
                    <!-- <li  class="menu">
                       网站导航
                       <dl class="sub-menu">
                          <dd><a>云绣ERP</a></dd>
                          <dd><a>娴婷一账通</a></dd>
                          <dd><a>云绣网</a></dd>
                       </dl>
                    </li> -->

                </ul>
            </div>
        </div>
    </div>

    <div class="header clearfix">
        <div class="headerw">
            <ul class="header-item header-l">
                <li>
                    <a href=""><img src="/images/logo.png" alt="云绣网 刺绣行业一站式采购"></a>
                </li>
                <li><p>买家常见问题</p></li>
            </ul>
        </div>
    </div>

    <div class="issuew">
        <!-- 左侧导航栏 -->
        <div class="issuemenu">
            <h2 class="menu-title"><a href="qlistHome.html">常见问题分类</a></h2>
            <h3 class="Collapsing">采购指南</h3>
            <div class="coll_body">
                <a href="/CommonProblem/TermsTrade">交易条款</a>
                <a href="/CommonProblem/ShoppingProcess">购物流程</a>
                <a href="/CommonProblem/Fraud">谨防诈骗</a>
                <a href="/CommonProblem/ReceiptProblems">收货问题</a>
                <a href="/CommonProblem/OrderViolation">订单处理规则</a>
                <a href="/CommonProblem/ProductConsultation">商品咨询</a>
            </div>
            <h3 class="Collapsing">订单咨询</h3>
            <div class="coll_body">
                <a href="/CommonProblem/OrderSearch">订单查询</a>
                <a href="/CommonProblem/DDTJ">订单提交</a>
                <a href="/CommonProblem/DDXG">订单修改</a>
                <a href="/CommonProblem/DDQX">订单取消</a>
                <a href="/CommonProblem/DDCF">订单拆分</a>
                <a href="/CommonProblem/DDYC">订单异常</a>
                <a href="/CommonProblem/DDQD">订单确定</a>
                <a href="/CommonProblem/SDPJ">晒单评价</a>
            </div>
            <h3 class="Collapsing">云绣网纠纷处理规则</h3>
            <div class="coll_body">
                <a href="/CommonProblem/ZZ">总则</a>
                <a href="/CommonProblem/CLYZ">交易纠纷处理原则</a>
                <a href="/CommonProblem/JZZR">举证责任</a>
                <a href="/CommonProblem/CLCX">交易纠纷处理程序</a>
            </div>
            <h3 class="Collapsing">签收问题的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/QSYZ">签收问题的处理原则</a>
                <a href="/CommonProblem/QSJZ">签收问题的举证</a>
                <a href="#">签收问题的相关运费纠纷处理</a>
                <a href="/CommonProblem/JZNR">纠纷举证内容</a>
            </div>
            <h3 class="Collapsing">发货问题的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FHYZ">发货问题的处理原则</a>
                <a href="/CommonProblem/FHJZ">发货问题的举证</a>
                <a href="#">发货相关运费的纠纷问题</a>
            </div>
            <h3 class="Collapsing">发票&赠品问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FPYZ">发票&赠品问题的处理原则</a>
                <a href="/CommonProblem/FPJZ">发票&赠品的举证</a>
                <a href="#">发票&赠品的运费纠纷</a>
            </div>
            <h3 class="Collapsing">商品描述不符的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/MSYZ">描述不符问题的处理原则</a>
                <a href="/CommonProblem/MSJZ">描述不符问题的举证</a>
                <a href="#">提示</a>
            </div>
            <h3 class="Collapsing">商品质量问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/ZLYZ">质量问题的处理原则</a>
                <a href="/CommonProblem/ZLJZ">质量问题的举证</a>
                <a href="/CommonProblem/ZLJC">质量问题的检测</a>
                <a href="#">质量问题的相关运费纠纷处理</a>
            </div>
            <h3 class="Collapsing">退换货问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/THYZ">退换货问题的处理原则</a>
                <a href="/CommonProblem/THJZ">退换货问题的举证</a>
                <a href="#">退换货相关运费的纠纷处理</a>
            </div>
            <h3 class="Collapsing">运费问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/YFYZ">运费问题的处理原则</a>
                <a href="/CommonProblem/YFJZ">运费问题的举证</a>
                <a href="#">提示</a>
            </div>
            <h3 class="Collapsing">交易纠纷常见问题</h3>
            <div class="coll_body">
                <a href="/CommonProblem/WTCL">问题及处理</a>
                <a href="/CommonProblem/WQTJ">各类维权时间条件和类型</a>
            </div>
            <h3 class="Collapsing current">配送服务</h3>
            <div class="coll_body active" style="display:block;">
                <a href="/CommonProblem/fhqs">发货与签收</a>
                <a class="tcolor" href="">发货与签收规则</a>
                <a href="/CommonProblem/wlps">物流配送</a>
            </div>
            <h3 class="Collapsing">售后服务</h3>
            <div class="coll_body">
                <a href="/CommonProblem/THFX">退换货、返修</a>
                <a href="/CommonProblem/THYF">退货运费补偿标准</a>
                <a href="/CommonProblem/SHTK">售后退款</a>
            </div>
        </div>

        <div class="issuecontentw">
            <div class="icontenw">
                <h3 class="issuetoptitle1">【发货与签收规则】</h3>
                <p class="litemtitle1"></p>
                <div class="litem-conten">
                    <p>一、发货</p>
                    <p>1、 发货时间</p>
                    <p class="pleft16">
                        1.1卖家应当在云绣网规定的时间内发货，但有特殊规定的除外。
                        <br>1.2消费者申请退款时卖家尚未发货的，卖家应当征得消费者同意后再发货。
                        <br>1.3卖家延期发货，或者未经消费者同意在消费者申请退款后发货，卖家应当追回已经发出的商品，但消费者已经签收并确认收货的除外。
                    </p>
                    <p>2、 发货信息的确认</p>
                    <p class="pleft16">
                        2.1除买卖双方另有约定外，卖家应当按照订单约定的收货地址、收货人信息发货，并负责将商品送达到消费者指定的收货地址。
                        <br>2.2如商品需要消费者到指定地点提取的，应当在商品页面显著位置描述予以说明，并在发货前告知消费者并征得消费者同意。卖家违反前述规定的，消费者有权拒绝签收商品。
                        <br>2.3卖家在发货后应及时将商品信息、快递信息在交易相关页面予以更新。
                    </p>
                    <p>3、 收货信息的填写与变更</p>
                    <p class="pleft16">
                        3.1消费者应当在订单中向卖家提供准确的收货地址和收货人信息。消费者在提供收货人信息时，可以选择本人或者他人作为收货人。消费者选择他人作为收货人，该收货人违反本规范约定义务的，由消费者承担相应责任。
                        <br>3.2消费者需要变更订单中的收货地址或收货人信息的，应当在商品发出前与卖家取得联系征得卖家的明确同意，或协商进行处理。
                        <br>3.3因消费者填写的收货地址和(或)收货人信息不准确，或者未经卖家同意要求变更收货地址或收货人信息，导致卖家发货后商品无法送达的，运费由消费者承担。
                    </p>
                    <br>
                    <p>二、 配送与收货</p>
                    <p>1、 商品配送</p>
                    <p class="pleft16">
                        1.1卖家所选择的快递公司在派送商品时应当主动联系收货人，而不应在未征得收货人同意的情况下将商品交由小区保安、门卫、公司前台等人签收。
                        <br>1.2卖家应与快递公司约定，在提供配送过程中，应遵守云绣网平台相关规则规定的标准及规范，为消费者提供满意的配送服务，积极提升客户满意度。
                    </p>
                    <p>2、 商品签收</p>
                    <p class="pleft16">
                        2.1卖家按照约定发货后，收货人有及时收货的义务。收货人可以本人签收商品或委托他人代为签收商品，被委托人的签收视为收货人本人签收。
                        <br>2.2消费者只填写了收货地址，但没有填写收货人或填写的收货人信息不特定，商品在收货地址被签收的，该签收视为消费者本人签收。
                    </p>
                    <p>3、 商品验收</p>
                    <p class="pleft16">
                        3.1收货人签收商品时，应当对商品进行验收。
                        <br>3.2涉及商品表面一致的事项，收货人应当在签收商品时进行验收。 本条所称“表面一致”，是指凭肉眼即可判断所收到的商品表面状况良好且与网上描述相符，表面一致的判断范围包括但不限于商品的形状、大小、数量、重量等。
                        <br>3.3收货人签收商品时发现表面不一致的，有权拒绝签收商品。 卖家应在商品拒收后及时联系消费者，进行处理。
                        <br>3.4对于需要先签收再打开包装查看的商品，收货人应当要求承运人当场监督并打开包装查看，如发现表面不一致，应当在签收单（收货人联和承运人联）上备注详细情况并让承运人签字确认或者直接退回商品。
                        <br>3.5收货人无正当理由拒绝签收商品的，运费由消费者承担。
                        <br>3.6收货人拒绝签收商品后，卖家应当及时联系承运人取回商品。因卖家怠于取回商品所产生的额外运费、保管费等费用由卖家承担。
                    </p>
                    <p>三、 风险转移</p>
                    <p class="pleft16">商品毁损、灭失等的风险自收货人签收商品后由卖家转移给收货人。</p>
                    <p>四、 违约处理</p>
                    <p class="pleft16">卖家违反本规范条款及云绣网平台相关规则约定而导致消费者投诉的，卖家应及时予以处理，若卖家未能妥善处理导致投诉扩大或未按照要求予以处理的，云绣网有权以普通人身份做出判断并要求卖家承担相应的责任。</p>
                </div>

            </div>
        </div>

    </div>

    <!--footer-->
    <div class="footbot">
        <div class="container">
            <ul>
                <li class="col-md-3"><a href="#"><img src="/images/footericon1.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon2.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon3.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon4.png" /></a></li>
            </ul>
        </div>
    </div>

    <div style="width:100%;">
        <div class="footsec container clear">
            <ul class="f-tip">
                <li class="f-title">新手指南</li>
                <li><a href="###">了解云绣</a></li>
                <li><a href="###">免费注册</a></li>
                <li><a href="###">咨询客服</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">买家服务</li>
                <li><a href="###">购物流程</a></li>
                <li><a href="###">购物协议</a></li>
                <li><a href="###">退换货处理</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">卖家服务</li>
                <li><a href="###">申请入驻</a></li>
                <li><a href="###">招商标准</a></li>
                <li><a href="###">管理规则</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">交易安全</li>
                <li><a href="###">交易防骗</a></li>
                <li><a href="###">交易保障</a></li>
                <li><a href="###">支付帮助</a></li>
                <li><a href="###">如何退款</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">云绣服务</li>
                <li><a href="###">买卖通</a></li>
                <li><a href="###">招商公告</a></li>
            </ul>
            <ul class="f-tip">
                <li><a href="###"><img style="width:100px;height:100px;" src="/images/tipflex_258.jpg" /></a></li>
            </ul>
        </div>
    </div>

    <div class="footer container">
        <p style="clear:both;"><a href="###">关于云绣网</a> | <a href="###">会员服务</a> | <a href="###">商家入驻</a> | <a href="###">广告服务</a> | <a href="###">网站导航</a> | <a href="###">诚聘英才</a> | <a href="###">意见投诉</a> | <a href="###">客服中心</a> | <a href="###">友情链接</a></p>
        <p><img src="/images/bot.png" />粤ICP1234 </p>
        <p>Copyright©云绣网XXX.com. All Rights Reserved</p>
    </div>
    <!--end footer-->

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/issuejs.js"></script>

</body>
</html>