@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>云绣网-常见问题</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/public1.css">
    <link rel="stylesheet" type="text/css" href="/css/issuestyle.css">
    <link rel="stylesheet" type="text/css" href="/css/issuelist2.css">
</head>
<body>

    <div id="topbar">
        <div class="container">
            <div class="col-xs-6 row">
                <span class="fl">欢迎您,</span><a>[登录]</a>&nbsp;<a>[注册]</a>

            </div>
            <div class="topbarr row">
                <ul>
                    <!--<li class="talk">
                       消息<i style="background:url(images/talk.png) no-repeat; display:inline-block;width:16px;height:24px; margin-left:3px;vertical-align:bottom;"></i>
                       <dl class="sub-menu">
                          <dd><a>待处理订单</a></dd>
                          <dd><a>降价商品<span class="coloryellow">10</span></a></dd>
                          <dd><a>通知</a></dd>
                       </dl>
                    </li>-->
                    <li class="menu">
                        我的收藏
                        <dl class="sub-menu">
                            <dd><a>收藏的商品</a></dd>
                            <dd><a>收藏的供应商</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        我的云绣
                        <dl class="sub-menu">
                            <dd><a>我的购物车</a></dd>
                            <dd><a>我的历史订单</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        卖家中心
                        <dl class="sub-menu">
                            <dd><a>我要开店</a></dd>
                            <dd><a>商家权益</a></dd>
                            <dd><a>招商标准</a></dd>
                            <dd><a>收费标准</a></dd>
                            <dd><a>标王服务</a></dd>
                            <dd><a>黄金展位</a></dd>
                            <dd><a>买卖通</a></dd>
                        </dl>
                    </li>
                    <li class="menu">
                        客服中心
                        <div class="sub-menu bg-white" style="z-index:9999; width:148px;border:1px solid #ddd;border-top:0;">
                            <dl class="fl">
                                <dt><a>买家</a></dt>
                                <dd><a>卖家帮助</a></dd>
                                <dd><a>在线咨询</a></dd>
                                <dd><a>常见问题</a></dd>
                            </dl>
                            <dl class="fl" style="border-left:1px dotted #ddd;">
                                <dt><a>卖家</a></dt>
                                <dd><a>卖家帮助</a></dd>
                                <dd><a>在线咨询</a></dd>
                                <dd><a>常见问题</a></dd>
                            </dl>
                        </div>
                    </li>
                    <!-- <li  class="menu">
                       网站导航
                       <dl class="sub-menu">
                          <dd><a>云绣ERP</a></dd>
                          <dd><a>娴婷一账通</a></dd>
                          <dd><a>云绣网</a></dd>
                       </dl>
                    </li> -->

                </ul>
            </div>
        </div>
    </div>

    <div class="header clearfix">
        <div class="headerw">
            <ul class="header-item header-l">
                <li>
                    <a href=""><img src="/images/logo.png" alt="云绣网 刺绣行业一站式采购"></a>
                </li>
                <li><p>买家常见问题</p></li>
            </ul>
        </div>
    </div>

    <div class="issuew">
        <!-- 左侧导航栏 -->
        <div class="issuemenu">
            <h2 class="menu-title"><a href="qlistHome.html">常见问题分类</a></h2>
            <h3 class="Collapsing">采购指南</h3>
            <div class="coll_body">
                <a href="/CommonProblem/TermsTrade">交易条款</a>
                <a href="/CommonProblem/ShoppingProcess">购物流程</a>
                <a href="/CommonProblem/Fraud">谨防诈骗</a>
                <a href="/CommonProblem/ReceiptProblems">收货问题</a>
                <a href="/CommonProblem/OrderViolation">订单处理规则</a>
                <a href="/CommonProblem/ProductConsultation">商品咨询</a>
            </div>
            <h3 class="Collapsing">订单咨询</h3>
            <div class="coll_body">
                <a href="/CommonProblem/OrderSearch">订单查询</a>
                <a href="/CommonProblem/DDTJ">订单提交</a>
                <a href="/CommonProblem/DDXG">订单修改</a>
                <a href="/CommonProblem/DDQX">订单取消</a>
                <a href="/CommonProblem/DDCF">订单拆分</a>
                <a href="/CommonProblem/DDYC">订单异常</a>
                <a href="/CommonProblem/DDQD">订单确定</a>
                <a href="/CommonProblem/SDPJ">晒单评价</a>
            </div>
            <h3 class="Collapsing">云绣网纠纷处理规则</h3>
            <div class="coll_body">
                <a href="/CommonProblem/ZZ">总则</a>
                <a href="/CommonProblem/CLYZ">交易纠纷处理原则</a>
                <a href="/CommonProblem/JZZR">举证责任</a>
                <a href="/CommonProblem/CLCX">交易纠纷处理程序</a>
            </div>
            <h3 class="Collapsing">签收问题的纠纷处理</h3>
            <div class="coll_body active" style="display:block;">
                <a href="/CommonProblem/QSYZ">签收问题的处理原则</a>
                <a class="tcolor" href="/CommonProblem/QSJZ">签收问题的举证</a>
                <a href="#">签收问题的相关运费纠纷处理</a>
                <a href="/CommonProblem/JZNR">纠纷举证内容</a>
            </div>
            <h3 class="Collapsing">发货问题的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FHYZ">发货问题的处理原则</a>
                <a href="/CommonProblem/FHJZ">发货问题的举证</a>
                <a href="#">发货相关运费的纠纷问题</a>
            </div>
            <h3 class="Collapsing">发票&赠品问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FPYZ">发票&赠品问题的处理原则</a>
                <a href="/CommonProblem/FPJZ">发票&赠品的举证</a>
                <a href="#">发票&赠品的运费纠纷</a>
            </div>
            <h3 class="Collapsing">商品描述不符的纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/MSYZ">描述不符问题的处理原则</a>
                <a href="/CommonProblem/MSJZ">描述不符问题的举证</a>
                <a href="#">提示</a>
            </div>
            <h3 class="Collapsing">商品质量问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/ZLYZ">质量问题的处理原则</a>
                <a href="/CommonProblem/ZLJZ">质量问题的举证</a>
                <a href="/CommonProblem/ZLJC">质量问题的检测</a>
                <a href="#">质量问题的相关运费纠纷处理</a>
            </div>
            <h3 class="Collapsing">退换货问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/THYZ">退换货问题的处理原则</a>
                <a href="/CommonProblem/THJZ">退换货问题的举证</a>
                <a href="#">退换货相关运费的纠纷处理</a>
            </div>
            <h3 class="Collapsing">运费问题纠纷处理</h3>
            <div class="coll_body">
                <a href="/CommonProblem/YFYZ">运费问题的处理原则</a>
                <a href="/CommonProblem/YFJZ">运费问题的举证</a>
                <a href="#">提示</a>
            </div>
            <h3 class="Collapsing">交易纠纷常见问题</h3>
            <div class="coll_body">
                <a href="/CommonProblem/WTCL">问题及处理</a>
                <a href="/CommonProblem/WQTJ">各类维权时间条件和类型</a>
            </div>
            <h3 class="Collapsing">配送服务</h3>
            <div class="coll_body">
                <a href="/CommonProblem/FHQS">发货与签收</a>
                <a href="/CommonProblem/FHGZ">发货与签收规则</a>
                <a href="/CommonProblem/WLPS">物流配送</a>
            </div>
            <h3 class="Collapsing">售后服务</h3>
            <div class="coll_body">
                <a href="/CommonProblem/THFX">退换货、返修</a>
                <a href="/CommonProblem/THYF">退货运费补偿标准</a>
                <a href="/CommonProblem/SHTK">售后退款</a>
            </div>
        </div>

        <div class="issuecontentw">
            <div class="icontenw">
                <h3 class="issuetoptitle1">【签收问题的举证】</h3>
                <p class="litemtitle1"></p>
                <div class="litem-conten">
                    <p>1） 若买家签收商品后对于商品表面一致的问题有异议的，买家需要对签收商品时商品已存在表面不一致的情形承担举证责任，需要提供承运人出具的书面证明文件并加盖公章，证明收到商品存在表面不一致情形（如破损/少件/空包裹等）。</p>
                    <p>2） 若买家表示未收到货，而卖家表示买家已签收商品，卖家需要承担举证责任。</p>
                    <br>
                    <p>※&nbsp;&nbsp;交易中的运费争议，根据“谁过错，谁承担”的原则处理，但买卖双方协商一致的除外。具体关于签收问题相关的运费纠纷，买家可查看《运费问题纠纷处理（买家版）》</p>
                </div>

            </div>
        </div>

    </div>

    <!--footer-->
    <div class="footbot">
        <div class="container">
            <ul>
                <li class="col-md-3"><a href="#"><img src="/images/footericon1.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon2.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon3.png" /></a></li>
                <li class="col-md-3"><a href="#"><img src="/images/footericon4.png" /></a></li>
            </ul>
        </div>
    </div>

    <div style="width:100%;">
        <div class="footsec container clear">
            <ul class="f-tip">
                <li class="f-title">新手指南</li>
                <li><a href="###">了解云绣</a></li>
                <li><a href="###">免费注册</a></li>
                <li><a href="###">咨询客服</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">买家服务</li>
                <li><a href="###">购物流程</a></li>
                <li><a href="###">购物协议</a></li>
                <li><a href="###">退换货处理</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">卖家服务</li>
                <li><a href="###">申请入驻</a></li>
                <li><a href="###">招商标准</a></li>
                <li><a href="###">管理规则</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">交易安全</li>
                <li><a href="###">交易防骗</a></li>
                <li><a href="###">交易保障</a></li>
                <li><a href="###">支付帮助</a></li>
                <li><a href="###">如何退款</a></li>
            </ul>
            <ul class="f-tip">
                <li class="f-title">云绣服务</li>
                <li><a href="###">买卖通</a></li>
                <li><a href="###">招商公告</a></li>
            </ul>
            <ul class="f-tip">
                <li><a href="###"><img style="width:100px;height:100px;" src="/images/tipflex_258.jpg" /></a></li>
            </ul>
        </div>
    </div>

    <div class="footer container">
        <p style="clear:both;"><a href="###">关于云绣网</a> | <a href="###">会员服务</a> | <a href="###">商家入驻</a> | <a href="###">广告服务</a> | <a href="###">网站导航</a> | <a href="###">诚聘英才</a> | <a href="###">意见投诉</a> | <a href="###">客服中心</a> | <a href="###">友情链接</a></p>
        <p><img src="/images/bot.png" />粤ICP1234 </p>
        <p>Copyright©云绣网XXX.com. All Rights Reserved</p>
    </div>
    <!--end footer-->

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/issuejs.js"></script>

</body>
</html>